---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #ffffff;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1280px;

$on-palm:          600px;
$on-laptop:        800px;

// Neutrals
$white: #ffffff;
$black: #000000; //used seldomly

$gray-primary: #222222;
$gray-darker: #4b4b4b;
$gray-dark: #707070;
$gray-medium: #b3b3b3;
$gray-light: #e0e0e0;
$gray-lighter: #f3f3f3;

// Hues
$blue: #126eb5;
$blue-muted: #8fa6bc;
$blue-light: #00aaeb;

$red: #ac031f;
$yellow: #e9ba15;
$green: #70B406;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.swatch {
  display: inline-block;
  width: 150px;
  height: 150px;
  padding: 15px;
  border: solid 1px $gray-medium;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: center;
  vertical-align: top;
  line-height: 1.4;
  border-radius: 2px;

  &--icon {
    height: auto;
    font-size: 4rem;
  }
}

