.show-description {
  max-width: 700px;
  background-color: $white;
  color: $gray-darker;

  @include breakpoint($xs) {
    margin: 0 auto;
    padding-top: 0;
  }

  // move this up into the gutter;
  @include breakpoint($sm) {
    margin-top: -$gap;
    margin-left: -$gap;
  }

  @include breakpoint($md) {
    margin: 0 10px 0 -10px;
  }

  &__title {
    margin: 0;
    padding-top: $gap;
    color: $gray-primary;
    font-size: 3.4rem;
    font-weight: $bold;
    text-align: center;

    @include breakpoint($sm) {
      padding-top: 0;
    }
  }

  p {
    margin: $gap 0;

    &.info {
      @include typography-truncate();

      margin: $gap-half 0;
      padding-top: $gap;
      font-size: $snuffy;
      font-style: italic;
      font-weight: $normal;
      text-align: center;

      @include breakpoint($sm) {
        margin: 0;
        padding-top: 0;
        padding-bottom: $gap;
        text-align: left;
      }

      @include breakpoint($md) {
        padding-bottom: 0;
      }
    }

    &.favorite {
      margin: 0 0 $gap 0;

      @include breakpoint($below-sm) {
        margin-top: $gap;
        text-align: center;
      }
    }

    &.description {
      margin: $gap-half 0 0 0;
      padding: $gap 0;
      border-top: $divider;
      border-width: 1px 0;
      font-size: $ernie;

      @include breakpoint($below-sm) {
        margin: 0 auto;
      }

      @include breakpoint($md-only) {
        font-size: $elmo;
      }

      @include breakpoint($lg) {
        margin-right: $gap;
      }
    }
  }

  // for the manually programmed series links
  &__series {

    &__intro {
      color: $gray-dark;
      font-size: $abby;
      font-weight: $bold;
      text-transform: uppercase;
    }

    &__links {
      font-size: $ernie;
    }

    &__link {
      display: inline-block;
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid $gray-primary;
      line-height: 1;

      &:last-child {
        margin-right: 0;
        padding-right: 0;
        border-right: 0;
      }
    }
  }

  .funding {
    border-top: $divider;

    .underwriting {
      font-size: 1.45rem;
      font-style: italic;
      font-weight: $normal;
    }
  }



  .more-detail {
    font-size: $elmo;
    font-style: italic;

    @include breakpoint($md-only) {
      font-size: $abby;
    }
  }

}
