.promoted-show {
  background: $gray-light;
  padding: $gap-double $gap 1px $gap;

  &__inner {
    padding: 0;
    background: $white;
    margin-bottom: 5rem;
    box-shadow: 0px 1px 3px rgba($black, .45);

  }

  .col-sm-7 {
    padding-left: 14px; //weird first column issue
  }

  .col-sm-4 {
    @include breakpoint ($sm-only) {
      padding-left: 0;
    }
  }

  .img-responsive {
    width: 100%;
  }

  &__header {
    font-family: $serif;
    font-weight: $bold;
    font-size: 1rem;
    margin-left: $gap-double;

    @include breakpoint($sm) {
      margin: $gap $gap $gap-half 0;
    }

    @include breakpoint($md) {
      margin: 14px 0 7px 0;
    }
  }

  // Custom breakpoints
  $over-900: (min-width: 900px);
  $over-1200: (min-width: 1200px);

  &__intro {
    display: inline-block;
    margin: $gap 0;
    font-size: $elmo;
    color: $gray-dark;
    text-transform: uppercase;

    @include breakpoint($sm) {
      margin: 0 0 $gap-half 0;
      font-size: $abby;
    }

    @include breakpoint($over-900) {
      font-size: $elmo;
    }

    @include breakpoint($md) {
      margin: $gap 0;
    }
  }

  &__logo {
    display: block;
    max-width: 140px;

    @include breakpoint($sm-only) {
      margin-left: 0;
      width: 100px;
    }
  }

  // a fallback in case a logo isn't supplied
  &__name {
    display: block;
    font-size: 3.2rem;
  }

  &__description,
  &__hashtag {
    font-size: $oscar;
    margin: $gap $gap-double;

    @include breakpoint($sm) {
      font-size: $abby;
      margin: $gap-half $gap $gap-half 0;
    }

    @include breakpoint($over-900) {
      font-size: $elmo;
      margin: $gap $gap $gap 0;
    }

    @include breakpoint($md) {
      margin: $gap $gap-large $gap 0;
    }

    @include breakpoint($over-1200) {
      font-size: $oscar;
    }
  }

  &__cta {
    text-align: center;
    margin-bottom: $gap-double;
    margin-top: $gap-double;

    @include breakpoint($sm) {
      text-align: left;
      margin-bottom: $gap;
      margin-top: $gap-quarter;
    }

    @include breakpoint($md) {
      margin-top: $gap-double;
    }

    .btn {
      @include breakpoint($sm) {
        font-size: $elmo;
        padding: 12px 30px;
      }

      @include breakpoint($over-900) {
        font-size: $ernie;
        padding: $gap $gap-double;
      }
    }
  }
}
