$passport-width: 800px; //used throughout

#loadingOverlay .window .loading {
  background-image: url('../images/loading.gif');
}

body[class^="passport"] {
  background-color: $white;

  main {
    padding-top: 0;
  }
}

// the logo
.passport-logo {
  width: 28px;
  height: 28px;

  .passport-congratulations & {
    display: inline-block;
    width: 45px;
  }

  // accompanying text for the station
  &__station {
    display: inline-block;
    font-weight: $bold;
  }
}

.passport-header {
  @include clearfix();
  width: 1280px;
  height: 95px;
  margin: 0 auto;
  border-bottom: $divider;
  background-color: $gray-lighter;

  h1 {
    padding: 13px 10px;
    float: left;
    color: $gray-darker;
    font-family: $sans-serif;
    font-size: 3rem;
    font-weight: $light;

    @include breakpoint($sm) {
      font-size: 3.6rem;
    }

    @include breakpoint($below-sm) {
      margin: 0;
      padding: $gap-double 0 0 10px;
      font-size: $snuffy;
    }

    .withSeparator {
      position: relative;
      top: 5px;
      left: 5px;
      border-left: 1px solid darken($gray-light, 15%);
      line-height: .8;

      @include breakpoint($below-sm) {
        padding: 2px 0 0 5px;
      }
    }

    span {
      padding: 0 10px;
      float: left;

      @include breakpoint($below-sm) {
        padding: $gap-quarter 0 0 0;
        letter-spacing: -1px;
      }
    }

    .passportStation {
      font-weight: $bold;
    }
  }

  .pbs-logo,
  .station-logo {
    max-height: 35px;
    margin: 29px 0 27px 5%;
    padding-right: 10px;
    float: left;
    border-right: 1px solid darken($gray-light, 15%);

    @include breakpoint($sm) {
      max-height: 60px;
      margin: 17px 0 17px 20px;
      padding-right: 30px;
    }

    @include breakpoint($md) {
      display: inline-block;
    }
  }

  .station-logo-fallback {
    display: inline-block;
    margin: 20px;
    padding-right: 30px;
    float: left;
    border-right: 1px solid darken($gray-light, 15%);
    font-size: 3rem;

    @include breakpoint($sm) {
      font-size: 3.6rem;
    }
  }

  .passport-logo {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 0 5px 0 0;
    float: left;

    @include breakpoint($sm) {
      width: 28px;
      height: 28px;
      margin-top: 6px;
    }
  }

  .headerActivateText {
    display: none;

    @include breakpoint($md) {
      display: inline;
    }
  }
}

.passport {
  max-width: 1280px;
  margin: 0 auto;
  background-color: $white;

  p {
    margin-bottom: $gap;
    font-size: 2.2rem;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 65px;
    font-size: 3.2rem;
    font-weight: $light;
  }

  h4 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: $snuffy;
    font-weight: $bold;
    line-height: 1.4em;
  }

  img {
    margin: 10px 0 25px 0;
  }

  input {
    display: block;
    width: 100%;
    max-width: 1000px;
    height: 60px;
    margin-bottom: 0;
    padding: $gap-half 0 $gap-half 13px;
    border: 1px solid $gray-medium;
    font-size: 2.2rem;
    text-transform: uppercase;

    @include breakpoint($sm) {
      width: 62%;
      margin-right: 2%;
      float: left;
    }

    &.emails {
      font-size: $ernie;
      text-transform: none;
    }

  }

  [type="checkbox"] {
    display: inline;
    width: auto;
    height: auto;
    margin-right: 2%;
    float: none;
  }

  label {
    display: block;
    margin: 0;
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: $zoe;
    font-weight: $semibold;
    line-height: 1.7em;
  }

  .btn {
    &.green-activation {
      width: 100%;
      height: 60px;
      margin: 10px 0;
      padding: 11px $gap-double;
      border: 1px solid darken($green, 15%);
      background-color: $green;
      color: $white;
      font-family: $sans-serif;
      font-size: 2.4rem;
      font-weight: $normal;
      text-transform: none;

      @include breakpoint($sm) {
        width: 36%;
        margin: 0;
      }

      &.disabled {
        border-color: $gray-dark;
        background: $gray-medium;
        cursor: none;
        opacity: .4;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }

    &.activation-transparent {
      border-color: $gray-primary;
      background-color: $white;
      color: $gray-primary;
    }

    .buttonSpinner {
      display: none;
      width: 38px;
      height: 12px;
      margin: 0 auto;
      background: url('../images/loading.gif') no-repeat 0 0;
      background-size: 38px 12px;
    }

    &.mvodDefault {
      display: block;
      width: 40%;
      max-width: 300px;
      margin: 0 auto;
      padding: 5px 0;
      border: 0;
      background: $blue;
      color: $white;
      font-size: 2.2rem;
      font-weight: bold;
      letter-spacing: .03em;
      cursor: pointer;

      a {
        color: $white;
      }

      .buttonError {
        display: none;
        font-size: $elmo;
      }

      &.buttonErrorEnv {
        border: 2px solid $red;
        background: lighten($red, 60%);
        color: $red;
      }
    }
  }

  .mvodSupportTextActivation {
    @include breakpoint($sm) {
      margin: 15px 0;
    }
  }

  &__body {

    &.firstScreen {
      max-width: $passport-width;
    }

    &.loginScreen {
      width: 90%;
      max-width: 950px;
      margin: 0 auto;
    }

    &.lastScreen {
      width: 100%;
      max-width: 100%;
      padding-top: 0;
    }

    .disclaimer {
      font-size: $ernie;
    }

    &.activationScreen {
      max-width: 640px;
    }

    .plusMedium {
      font-size: 1.05em;
      font-weight: 500;
    }
  }

  $tall: min-height 750px;

  .activationForm {
    @include clearfix();
    margin: 30px auto 100px auto;
    padding: 0;

    @include breakpoint($sm) {
      margin-bottom: 160px;
    }

    @include breakpoint($tall) {
      padding: 30px 0;
    }

    .mvodStationContainer {
      position: relative;
      width: 100%;
      padding: 35px 20px;
      border: $divider;
      background-color: $gray-lighter;

      @include breakpoint($sm) {
        width: 48.5%;
        float: left;
      }
    }

    .stationImageContainer {
      padding: 5px 18px;
      border: 1px solid $gray-medium;
      background-color: $white;
      text-align: center;

      img {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        padding: 20px;
        float: none;
        background-color: $white;
      }

      .station-logo-fallback {
        font-size: 6rem;
      }
    }

    .socialLoginPanel {
      max-width: 380px;
      margin: 30px auto;
      padding: 0;

      @include breakpoint($sm) {
        min-width: 300px;
        margin: 0;
      }
    }

    .confirm-buttons {
      overflow: hidden;

      .btn {
        display: block;
        margin: 25px 0;
        padding-top: 15px;
        float: none;

        &.green-activation {
          min-width: 280px;
        }
      }
    }

    .mvodSupportText {
      position: absolute;
      bottom: 17px;
      left: 20px;
      font-size: $ernie;
      font-style: italic;
    }

    .support-link {
      margin: 30px 0;
      font-size: $ernie;

      @include breakpoint($sm) {
        margin: 15px 0;
      }
    }

    &.activationCode {
      max-width: $passport-width;
      padding: 0 25px;
    }
  }

  // member lookup form
  &-lookup-form {
    @include clearfix();
    width: 90%;
    max-width: $passport-width;
    margin: 0 auto;

    &__response {
      width: 90%;
      max-width: $passport-width;
      margin: 0 auto;
      padding-top: $gap;
      // for breathing room at the bottom of the page
      padding-bottom: $gap-quad;
      border-top: $divider;

      &__message {
        margin-bottom: $gap-larger;
      }
    }

    // need extra class for specificity
    .passport-lookup-form__label {
      margin-bottom: $gap;
      font-size: 2.2rem;
      font-weight: $normal;
    }

    // need extra class for specificity
    .passport-lookup-form__user-email {
      text-transform: none;
    }

    &__station-info {
      margin-left: $gap;

      @include breakpoint($sm) {
        margin-left: $gap-triple;
      }
    }
  }

  .congrats {

    &__hero-image {
      position: relative;
      width: 100%;
      height: 187px;
      background: url('../images/passport_congratulations_hero.jpg') no-repeat;
      background-attachment: inherit;
      background-position: center center;
      background-size: cover;

      @include breakpoint($xs) {
        height: 350px;
      }

      @include breakpoint($sm) {
        height: 435px;
      }

      &::before {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 45px;
        background: linear-gradient(to bottom, rgba($black, 0) 0%, rgba($black, .65) 100%);
        content: '';
      }
    }

    &__hero-text {
      width: 90%;
      margin: 0 auto;
      padding-top: 80px;

      @include breakpoint($xs) {
        padding-top: 150px;
      }

      @include breakpoint($sm) {
        padding-top: 180px;
      }
    }

    &__hero-headline {
      width: 100%;
      margin: 0 0 $gap 0;
      color: $white;
      font-size: 3rem;
      font-weight: $semibold;
      text-align: center;
      text-shadow: 2px 2px 3px $black;

      @include breakpoint($xs) {
        font-size: 4rem;
      }

      @include breakpoint($sm) {
        font-size: 6.1rem;
      }

      .passport__welcome {
        display: none;

        @include breakpoint($md) {
          display: inline-block;
        }
      }
    }

    .passport-logo {
      position: relative;
      top: -$gap-quarter;
      width: 24px;
      height: 24px;
      margin: 0 7px 0 $gap;

      @include breakpoint($xs) {
        width: 30px;
        height: 30px;
      }

      @include breakpoint($sm) {
        top: -6px;
        width: 45px;
        height: 45px;
      }

      &__station {
        margin-right: $gap;
        padding-right: $gap;
        border-right: 1px solid $white;
        line-height: .8;

        @include breakpoint($xs) {
          margin-right: 20px;
          padding-right: 20px;
        }
      }
    }

    .passport__text {
      font-weight: $light;
    }

    &__hero-subhead {
      width: 100%;
      color: $white;
      font-size: $elmo;
      font-weight: normal;
      line-height: 1.4;
      text-align: center;

      @include breakpoint($xs) {
        font-size: $ernie;
      }

      @include breakpoint($sm) {
        margin-top: 15px;
        padding: 0 20%;
        font-size: 2.4rem;
      }

      @include breakpoint($md) {
        width: 85%;
        margin: 15px auto;
      }
    }

    .plusMemberships {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-bottom: 10px;
      color: $white;
      text-align: center;
      overflow: auto;

      @include breakpoint($md) {
        .membershipsText {
          font-size: $oscar;
        }

        .membershipsStations {
          display: none;
        }

        .membershipsImages {
          display: inline-block;
        }
      }

      .membershipsText,
      .membershipsStations {
        font-size: $abby;
      }

      span {
        font-size: $oscar;
      }

      img {
        margin: 0 10px;
      }

      .membershipsStations {
        display: inline-block;
      }

      .membershipsImages {
        display: none;

        .station-logo-fallback {
          margin-right: 10px;
          color: $white;
        }
      }


    }

    &__message {
      display: flex;
      position: relative;
      flex-direction: column;
      max-width: 500px;
      margin: 0 auto;
      padding: 20px $gap;


      @include breakpoint($md) {
        width: 100%;
        max-width: none;
        min-height: 650px;
        padding-top: 80px;
        padding-right: 20px;
        padding-left: 61%;
        background: url('../images/passport_brand_images.jpg') no-repeat;
        background-size: 56%;
      }

      @include breakpoint((min-height: 100px)) {
        min-height: 850px;
      }

      &__title {
        margin-top: 0;
        margin-bottom: $gap;
        font-size: 3rem;
        font-weight: $light;

        @include breakpoint($md) {
          font-size: 4rem;
        }
      }

      &__text {
        font-size: $ernie;
        line-height: 1.375;

        @include breakpoint($md) {
          order: 1;
          margin-bottom: $gap-larger;
          font-size: 2.2rem;
          line-height: 1.363;
        }
      }

      .look-for-passport {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        @include breakpoint($md) {
          margin-left: -26%;
        }


        &__circle {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 86px;
          min-width: 86px;
          height: 86px;
          margin-right: $gap;
          border: 2px solid $blue-light;
          border-radius: 50%;
          background-color: rgba($black, .1);

          @include breakpoint($md) {
            width: 106px;
            height: 106px;
            background-color: rgba($black, .5);
          }

          .passport-logo {
            top: 0; // overrides other styles
            width: 36px;
            height: auto;
            margin: 0; // overrides other styles

            @include breakpoint($md) {
              width: 44px;
            }
          }
        }

        &__text {
          margin-bottom: 0;
          font-size: $snuffy;
        }
      }

      &__btn.btn {
        display: block;
        width: auto;
        max-width: 330px;
        margin: 0 0 $gap-larger 0;

        @include breakpoint($md) {
          order: 1;
        }
      }

    }

  }

  ////////////

  .errorMessages {
    display: none;
    margin: 30px 0 0 0;
    padding: 10px 20px 0 20px;
    border: 2px solid $red;
    color: $gray-darker;
    font-size: $ernie;
    font-weight: $semibold;
    line-height: 130%;
    list-style-type: none;

    &.is-visible {
      display: inline-block;
    }

    li {
      margin: 0 0 10px 0;
    }

    a {
      font-weight: bold;
    }
  }

  &.noPadding {
    padding-bottom: 0;
  }


  .selectStation {
    padding: 0 0 $gap-larger 0;
  }

  .login {
    padding: 0 0 $gap-larger 0;
  }
}

.findStation {
  padding: 0 0 0 10px;
  font-weight: bold;
}
