.video-catalog {
  padding: $gap-double $gap;

  @include breakpoint($sm) {
    padding: $gap-double;
  }

  // kill the drop shadow;
  &:after {
    display: none;
  }

  h1.section-title {
    color: $gray-darker;
    font-weight: $light;
    font-size: 3.2rem;
    margin: 0;
    text-transform: capitalize;

    @include breakpoint($sm) {
      font-size: 4.4rem;
    }
    @include breakpoint($md) {
      font-size: 5rem;
    }
    @include breakpoint($lg) {
      font-size: 5.6rem;
    }
  }

  ul.video-catalog-nav {
    font-weight: $light;
    list-style: none;
    margin: $gap 0 0 0;
    padding: 0;
    font-size: $zoe;
    line-height: 1;
    @include clearfix();

    @include breakpoint($sm) {
      font-size: $oscar;
    }
    @include breakpoint($md) {
      font-size: $snuffy;
    }
    @include breakpoint($lg) {
      font-size: 2.4rem;
    }



    li {
      margin: 0;
      padding: 0;
      float: left;

      + li {
        margin: 0 0 0 12px;
        padding: 0 0 0 12px;
        position: relative;

        @include breakpoint($sm) {
          margin: 0 0 0 $gap;
          padding: 0 0 0 $gap;
        }

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 1px;
          content: "";
          display: block;
          background: $gray-darker;
        }
      }
    }
  }

  p.description {
    font-size: $ernie;
    margin: $gap 0 0 0;

    @include breakpoint($sm) {
      font-size: $elmo;
    }
    @include breakpoint($md) {
      font-size: $oscar;
    }
    @include breakpoint($lg) {
      font-size: $snuffy;
    }
  }

  &__items {
    margin: 0 (-$gap);
    padding: $gap-double 0 0 0;
  }

  &__item {

    @include breakpoint($sm) {
      &:nth-child(3n + 1) {
        clear: left;
      }
    }

    @include breakpoint($md) {
      &:nth-child(3n + 1) {
        clear: none;

      }

      &:nth-child(4n + 1) {
        clear: left;
      }
    }
  }

  article.video-promo {
    padding: 0 0 $gap-double 0;

    p.over-title {
      font-size: $abby;
      margin: $gap-half 0 0 0;
      text-transform: uppercase;

      + h1 {
        margin: 0;
      }
    }

    h1 {
      @include typography-l1-header();
      font-size: $oscar;
      margin: $gap-half 0 0 0;

      @include breakpoint($md) {
        font-size: $ernie;
      }

      a {
        color: $gray-primary;
        @include typography-truncate();
      }
    }

    p.duration {
      color: $gray-primary;
      font-weight: $light;
      font-size: $elmo;
      margin: 0;

      .passport-logo-wrapper {
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        margin-right: 2px;

        .passport-logo {
          width: 100%;
          margin-top: -3px;
        }
      }
    }

    // mobile only;
    @include breakpoint($below-sm) {
      margin: 0 (-$gap);
      padding: 0 0 $gap-triple 0;

      img {
        box-shadow: none;
        width: 100%;
      }

      p.over-title {
        font-size: $elmo;
        padding: 0 $gap;
      }

      h1 {
        font-size: $oscar;
        padding: 0 $gap;
        font-weight: $normal;
        @include breakpoint($sm) {
          font-size: $ernie;
        }
      }
      .video-title {
        text-transform:capitalize;
        font-weight: $normal;
      }

      p.duration {
        font-size: $snuffy;
        padding: 0 $gap;
      }
    }
  }

  // only visible on mobile;
  p.learn-more {
    margin: 0;
    text-align: center;
  }

  .video-content-empty {
    margin-top: $gap;
    margin-left: $gap;
  }
}
