.page-header { // nested here to avoid changing styles on search results page
  .header-search {

    @include breakpoint($below-md) {
      width: 92%;
      margin-top: 13px;
      margin-left: 20px;
      border: 0;
      border-bottom: 1px solid $gray-medium;
      border-radius: 0;
      background-color: transparent;
      color: $gray-darker;
      font-size: $ernie;
    }

    @include breakpoint($md) {
      position: absolute;
      top: 15px;
      left: 9px;
      width: 350px;
      height: 42px;
      border: $divider;
      font-size: $elmo;
    }
  }

  .btn--search {
    position: absolute;
    top: 19px;
    right: 6%;
    padding: 5px 5px 0 5px;
    color: $gray-dark;
    font-size: $snuffy;

    &:hover,
    &:focus {
      color: $gray-dark;
    }

    @include breakpoint($md) {
      top: 20px;
      right: 12px;
      padding: 9px 15px 5px 15px;
      color: $blue;
      font-size: $ernie;

      &:hover,
      &:focus {
        color: $blue;
      }
    }
  }
}
