.shows-dropdown {
  padding: 20px 50px;
  font-size: $elmo;

  a {
    color: $gray-darker;
  }

  &__popular {
    @include breakpoint($lg) {
      .section-title {
        margin-bottom: 0;
      }
    }

    &-shows {
      margin-top: -$gap;
      margin-bottom: $gap;

      @include breakpoint($lg) {
        columns: 2;
        column-gap: $gap;
      }

      li {
        padding-top: $gap;

        @include breakpoint($lg) {
          margin: 0;
          overflow: hidden; // fix for IE11 - see http://stackoverflow.com/questions/22547098/multi-columns-not-working-in-ie-11
          break-inside: avoid; // see https://css-tricks.com/almanac/properties/b/break-inside/
        }
      }
    }
  }

  &__local {
    padding: 0 $gap-double;
    line-height: 20px;

    &-shows {
      margin-bottom: $gap;

      &__individual {
        margin-bottom: $gap;
      }
    }
  }

  &__featured {
    padding: 0 $gap-double;

    &__show-poster {
      max-width: 140px;
      margin-right: $gap;
      color: $white;
      font-size: $elmo;
      text-align: center;
    }

    &-info {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__btn {
    margin-top: 10px;
    padding: 6px $gap;
    line-height: 30px;
    color: $blue !important; //important is for Firefox
    font-size: $elmo;
  }

  .fallback-image__container {
    @include aspect-ratio(9, 13.45);
    max-width: 140px;
  }

  // titles for each column of links;
  &__section-title {
    margin: 0;
    padding: $gap 0;
    color: $gray-darker;
    font-size: $zoe;
    font-weight: $semibold;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint($sm) {
      margin-bottom: $gap-quarter;
      padding: 0;
      text-align: left;
    }

    @include breakpoint($md) {
      margin-bottom: $gap-half;
    }

    @include breakpoint($lg) {
      margin-bottom: $gap;
    }
  }

  .row-with-dividers {
    padding-bottom: $gap-quarter;
    // use the > so we don't target the nested grid;

    > [class*="col"] {
      border-right: $divider;

      &:last-child {
        border: 0;
      }
    }
  }
}
