.station-logo {
  max-width: 200px;

  @include breakpoint($md) {
    max-width: 250px;
    margin-top: 10px;
    padding-bottom: 10px;
  }
}

.choose-station {
  position: relative;
  background-color: transparent;
  border: 0;
  height: 50px;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 35px;

  // avoid text jumping to accommodate border when it appears
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;

  @include breakpoint($md) {
    height: 70px;
    padding-right: 12px;
    padding-left: 12px;
    line-height: 65px;
  }

  &::before,
  &::after {
    position: absolute;
    top: 9px;
    bottom: 9px;
    left: 0;
    width: 1px;
    background: $divider-color;
    content: '';

    @include breakpoint($md) {
      top: 20px;
      bottom: 20px;
    }
  }

  &::after {
    right: 0;
    left: 100%;
  }

  &:hover,
  &:focus {
    .no-touchevents & {
      border-right: $divider;
      border-left: $divider;
      background-color: $gray-lighter;

      &::before,
      &::after {
        width: 0;
      }
    }
  }

  &__text {
    @include typography-truncate();
    display: inline-block;
    position: relative;
    max-width: 150px;
    margin-bottom: -7px;
    color: $blue;
    font-family: $sans-serif;
    font-size: $ernie;
    font-weight: $bold;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }
}

.station-content {
  position: absolute;
  top: 0;
  visibility: hidden;
  background-color: $gray-lighter;

  box-shadow: $inset-shadow-left;
  transition: all $duration;
  right: -$mobile-menu-ratio;
  width: $mobile-menu-ratio;
  max-width: $mobile-menu-width;

  @include breakpoint($mobile-menu-cap) {
    right: -$mobile-menu-width;
  }

  .station-is-open & {
    height: 100vh;
    visibility: visible;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    outline: solid 1px transparent; // don't ask me why this fixes IE11 and 100vh, but it does
  }

  @include breakpoint($md) {
    display: none;
    visibility: visible;
    position: absolute;
    left: 0;
    right: auto;
    top: $page-header-height;
    width: auto;
    min-height: 0;
    margin: 0;
    margin-right: $gap;
    padding: $gap-triple $gap-triple $gap $gap;
    box-shadow: none;
    border-bottom: $divider;

    &.station-content--full-header {
      width: 100%;
      max-width: $max-width;
    }

    .page-header__station-container:hover & {
      .no-touchevents & {
        display: flex;
      }
    }

    .station-is-open & {
      display: flex;
      height: auto;
    }
  }

  .station-info {
    font-size: $oscar;
    text-align: center;
    padding: 15px $gap-larger;
    background: $white;
    box-shadow: $inset-shadow-left;
    @include breakpoint($md) {
      background: transparent;
      box-shadow: none;
      min-width: 30%;
      font-size: $ernie;
      padding: 0 $gap-half;
    }

    @include breakpoint($lg) {
      min-width: 26%;
    }

    &__link {
      display: block;
    }

    &__logo {
      display: block;
      max-width: 200px;
      margin: 10px auto 0 auto;
      padding-bottom: 10px;

      @include breakpoint($md) {
        max-width: 250px;
      }
    }

    &__button {
      padding: 13px $gap-double;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    &__change-station {
      display: block;
      margin: $gap-double auto 10px auto;
      border: 0;
      background-color: transparent;
      color: $blue;
      font-weight: $semibold;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .station-links {
    background-color: $gray-lighter;
    width: 100%;
    margin: 0;
    box-shadow: $inset-shadow-left;
    padding-top: 30px;

    @include breakpoint($md) {
      box-shadow: none;
      min-width: 23%;
      border-left: $divider;
      margin: (-$gap-double) 0 $gap 0;
      padding: $gap-double 0 $gap-double $gap-double;
    }

    @include breakpoint($lg) {
      min-width: 22%;
    }

    &__header {
      text-transform: uppercase;
      color: $gray-darker;
      margin-bottom: $gap;
      padding-bottom: 3px;
      border-bottom: 2px solid $divider-color;
      font-size: $ernie;
      font-weight: $bold;
      margin: 0 $gap-larger 20px $gap-larger;

      @include breakpoint($md) {
        display: none;
      }
    }

    &__link-list {
      font-size: $snuffy;
      font-weight: $semibold;

      @include breakpoint($md) {
        font-size: $ernie;
        font-weight: $normal;
        padding: 0 $gap 0 $gap-double;
      }

      li {
        list-style: none;
        height: 70px;

        @include breakpoint($md) {
          height: auto;
          margin-bottom: $gap;
        }
      }
    }
  }

  .station-schedule {
    @include breakpoint($md) {
      min-width: 35%;
      margin: (-$gap-double) 0 $gap $gap;
      padding: 0 $gap 0 $gap-triple;
      border-left: $divider;
      font-size: $ernie;
    }

    @include breakpoint($lg) {
      min-width: 43%;
      padding-right: $gap-quad;
    }

    &__title {
      color: $gray-darker;
      font-size: $zoe;
      font-weight: $semibold;

      @include breakpoint($md) {
        position: relative;
        top: $gap-double;
      }
    }

    &__schedule--individual-show {
      padding-bottom: $gap;
      margin-bottom: $gap;
    }

    &__full-schedule {
      height: auto;
      color: $blue;
      font-family: $serif;
      font-size: $elmo;
      font-weight: $semibold;
      letter-spacing: 1px;
      line-height: 24px;

      @include breakpoint($md) {
        float: right;
        position: relative;
        top: $gap-double;
      }
    }

    &__schedule {
      padding-left: 0;

      @include breakpoint($md) {
        padding-top: $gap-quad;
      }

      &--individual-show {
        display: flex;
        border-bottom: $divider;
        flex-direction: row;
        font-size: $elmo;
        font-weight: $normal;

        &:last-of-type {
          border: 0;
        }

        &__title {
          padding-left: $gap;
        }

        .schedule__time {
          min-width: 80px;
          max-width: 90px;
          overflow: hidden;

          //from js
          &--formatted {
            opacity: 1;
          }
        }
      }
    }
  }
}
