.tv-schedules-dropdown {
  display: none;
  padding: 0 0 $gap-double $gap-triple;
  flex-direction: column;

  @include breakpoint($md) {
    .nav-item:hover & {
      .no-touchevents & {
        display: flex;
      }
    }
  }

  &__title {
    margin-bottom: $gap;
    padding: $gap-half 0;
    color: $gray-darker;
    font-size: $zoe;
    font-weight: $semibold;
    text-transform: uppercase;
  }

  &__body {
    display: flex;
    flex-direction: row;

    h3 {
      margin-top: 0;
      padding-top: $gap-half;
    }

    &--day {
      width: 49%;
      padding-bottom: $gap-quad;

      &:nth-of-type(2) {
        padding-left: $gap-double;
        border-left: $divider;

        @include breakpoint($lg) {
          padding-left: $gap-triple;
        }
      }

      ul {
        padding-left: 0;
      }
    }
  }


  &__individual-show {
    display: flex;
    margin-right: $gap-quad;
    padding: $gap-half 0 $gap-half 5px;
    border-bottom: $divider;
    font-size: $elmo;
    flex-direction: row;

    @include breakpoint($lg) {
      margin-right: ($gap * 5);
    }

    &:last-of-type {
      border: 0;
    }

    &__time {
      width: 20%;

      @include breakpoint($lg) {
        width: 18%;
      }
    }

    &__title {
      width: 75%;

      @include breakpoint($lg) {
        width: 81%;
      }
    }

  }

  &__footer {
    margin: (- $gap-quad) $gap-quad $gap 0;

    a {
      float: right;
      color: $blue !important; //necessary for override
      font-family: $serif;
      font-size: $elmo !important; //necessary for override
      font-weight: $bold;
      letter-spacing: 1px;
      text-decoration: none;
      padding-top: $gap;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
