.user-navbar--heavy-traffic {
  //overrides hover event
  &:hover,
  &:focus {
    border: 0;
    margin-left: 1px;
    background-color: $white;
  }

  &__dropdown {
    //replaces user-name in Heavy Traffic Mode
    &__username {
      display: inline-block;
      position: relative;
      margin-top: 25px;
      padding: 0 20px 18px 20px;
      color: $blue;
      font-family: $serif;
      font-size: $ernie;
      font-weight: $bold;
      overflow: hidden;
    }
  }
}

.user-dropdown--logged-out {
  // from user.html
  display: block;
  margin-top: 26px;
  margin-left: 20px;
  padding: 12px;

  @include breakpoint($md) {
    height: $page-header-height;
    margin-top: 0;
    margin-left: 0;
    padding: 20px 12px;
  }

  &__text {
    font-family: $serif;
    font-weight: $bold;

    @include breakpoint($md) {
      position: relative;
      top: -2px;
      font-family: $sans-serif;
      color: $blue;
    }
  }

  .form-signin {
    max-width: 330px;
    margin: 0 auto;
    padding: $gap;

    .form-signin-heading,
    .checkbox {
      margin-bottom: 10px;
    }

    .checkbox {
      font-weight: normal;
    }

    .form-control {
      position: relative;
      height: auto;
      padding: 10px;
      font-size: $ernie;
      box-sizing: border-box;

      &:focus {
        z-index: 2;
      }
    }

    //Not sure where these are being used
    input[type="username"] {
      margin-bottom: $gap;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .sign-up {
      display: block;
      width: 100%;
      height: 30px;
      margin: 0;
      padding: 0;
      color: $blue-light;
      font-size: $elmo;
      font-weight: $normal;
      line-height: 45px;
      text-align: center;
    }
  }

  label.checkbox-label input[type=checkbox] {
    position: relative;
    bottom: 1px;
    vertical-align: middle;
  }
}


/////// NEW USER DROPDOWN STYLES HERE
.user-dropdown {
  display: none;
  padding: $gap $gap-half $gap 20px;
  background: $gray-light;
  box-shadow: $inset-shadow-right;

  overflow: hidden;

  .mobile-user-menu-is-open & {
    display: block;

    @include breakpoint($md) {
      display: none;
    }
  }

  .desktop-user-menu-is-open & {
    @include breakpoint($md) {
      display: flex;
    }
  }

  @include breakpoint($md) {
    display: none;
    padding: 28px $gap-half $gap 26px;
    min-width: 160px;
    max-width: $max-width;
    position: absolute;
    top: $page-header-height;
    left: 240px; // magic value - best bad choice available
    background: $gray-lighter;
    z-index: 2;
    box-shadow: none;
    overflow: hidden;
    border: $divider;
    border-top: 0;

    .nav-item:hover & {
      .no-touchevents & {
        display: flex;
      }
    }

    &.is-open {
      display: none; // this prevents the lower breakpoint styles from appearing if user left menu open at small screen
    }

    // we need the extra specificty here of the body selector
    .touchevents body.desktop-user-menu-is-open & {
      display: flex;
    }

    &.has-viewing-history {
      left: 0;
    }
  }

  &__links {
    min-width: 120px;
    margin-right: $gap-double;
    padding: 0;
    list-style: none;

    @include breakpoint($md) {
      padding-top: 10px;
      margin-right: 12px;
    }

    li {
      margin-bottom: 6px;

      @include breakpoint($md) {
        margin-bottom: 12px;
      }

      a {
        color: $gray-primary;
        font-size: $ernie;
        line-height: 2;

        @include breakpoint($md) {
          font-size: $elmo;
          line-height: $line-height;
        }
      }

      .user-dropdown__links__sign-out {
        padding: 0;
        border: 0;
        background: transparent;
        color: $blue;
        font-size: $ernie;
        line-height: 2;

        &:hover,
        &:focus {
          text-decoration: underline;
        }

        @include breakpoint($md) {
          color: $gray-primary;
          font-size: $elmo;
          line-height: $line-height;
        }
      }
    }
  }

  &__viewing-history {
    display: none;

    @include breakpoint($md) {
      display: block;
      min-width: 320px; //gives enough room for the label
      padding: 12px $gap-double;
      border-left: 1px solid $gray-medium;

      &__label {
        margin-bottom: 5px;
      }

      &__video-image {
        width: 100%;
        position: static;
      }

      &__video__progress {
        z-index: 5;
      }

      &__title {
        margin-top: 0;
        font-size: $elmo;
      }

      .history {
        height: auto;
        margin-left: auto;
        color: $blue;
        font-family: $serif;
        font-size: $abby;
        font-weight: $bold;
        line-height: $line-height;
      }

      &__video {
        width: 227px;
        margin-right: $gap-double;

        &:nth-child(2n) {
          margin-right: 0;
        }

        &__label {
          font-size: $elmo;
          margin-top: 5px;
        }

        .progress {
          position: relative;
          background-color: rgba($gray-light, 0.7);
          border-radius: 0;
          box-shadow: none;
          height: 12px;
          margin-bottom: $gap-quarter;
          margin-top: -12px;
          overflow: hidden;
        }

        .progress-bar-success {
          background-color: $green;
          height: 13px;
        }
      }
    }
  }
}

.watchlist-counter{
  display: inline-block;
  background-color: $red;
  border-radius: 4px;
  color: $white;
  margin-left: $gap-quarter;
  padding: 2px 6px;
  line-height: 20px;
}

.user-name-toggle {
  width: 100%;
  position: relative;
  border: 0;
  background: $white;


  &:hover,
  &:focus {
    cursor: default;
  }

  @include breakpoint($below-md) {
    background-color: $white;
    padding-left: 20px;
    height: 78px;
    box-shadow: $inset-shadow-right;
    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  @include breakpoint($md) {
    height: $page-header-height;
    padding-left: 14px;
    background: transparent;

    .desktop-user-menu-is-open & {
      background: $gray-lighter;
    }
  }

  @include breakpoint($lg) {
    width: auto;
    max-width: 400px;
  }
}

// Needed to help with flexbox styles in Firefox
.user-name-content {
  display: flex;
  align-items: center;
  position: relative;
}

.user-name {
  @include typography-truncate();
  color: $blue;
  font-family: $sans-serif;
  font-weight: $bold;
  font-size: $snuffy;


  @include breakpoint($md) {
    max-width: 105px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: $ernie;
  }

  @include breakpoint(1045px) {
    max-width: 125px;
  }

  @include breakpoint(1100px) {
    max-width: 175px;
  }

  //fine tuning
  @include breakpoint(1150px) {
    max-width: 235px;
  }

  @include breakpoint($lg) {
    max-width: 285px;
  }
}

.user-info__dropdown-control {
  bottom: -12px;
  position: absolute;
  right: 10px;
  text-decoration: none;
  cursor: pointer;
  font-size: $elmo;
  font-weight: $light;
  color: $blue;
  background: transparent;
  border: 0;

  @include breakpoint($md) {
    display: none;
  }

  &:active {
    text-decoration: none;
  }

  [class*="icon"] {
    margin-left: 5px;
    color: $gray-medium;

    .mobile-user-menu-is-open & {
      transform: rotate(180deg);
    }
  }
}

.header__image-container {
  display: inline-block;
  position: relative;
  margin-right: 20px;

  @include breakpoint($md) {
    margin-right: 14px;
  }

  .user-info__image {
    width: 50px;
    border-radius: $radius;

    @include breakpoint($md) {
      width: 35px;
    }
  }

  + .passport-logo-image__container {
    position: absolute;
    bottom: 0;
    left: $gap-larger;
    width: 20px;

    @include breakpoint($md) {
      bottom: -1px;
      left: 25px;
      width: 16px;
    }
  }
}

.passport-logo-image {
  height: 20px;

  &__container {
    width: 20px;
    margin-right: 10px;
  }
}
