---
layout: default
---

<div class="home al-page-content">

  <h1 class="al-page-heading">Latest Additions</h1>

  <ul class="al-cards al-col-1">
    {% for component in site.components reversed limit:5 %}

      {% include post-li.html %}

    {% endfor %}
  </ul>


  <div class="al-col-2">
    <p class="al-feature-link__wrapper">
      <a href="./design-elements" class="btn btn--blue-digital al-feature-link">Design Elements</a>
    </p>

    <p>Welcome to the PBS Component Library and Design Elements!</p>
  </div>


</div>
