.favorite-shows {

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: $gap;
  }

  &__previous,
  &__next {
    padding: 10px;
    border: 0;
    background-color: transparent;
    color: $blue;
    font-size: $snuffy;
    cursor: pointer;
  }
}

.signed-out-announcement {
  line-height: 2.6rem;
}

.favorites__cta-btn {
  padding: 0;
  border: 0;
  background: transparent;
  color: $blue;

  &:hover {
    text-decoration: underline;
  }
}
