.popover-content,
.qtip {
  display: none;
  color: $gray-primary;

  .over-title {
    font-size: $zoe;
    text-transform: uppercase;
  }

  .description {
    font-size: $ernie;
    margin: $gap-half 0 $gap 0;
  }

  .button {
    font-size: $elmo;
    margin: $gap-half 0;

    .btn {
      padding: $gap $gap-double;

      @include breakpoint($md) {
        padding: auto;
      }
    }

    a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
