section.carousel-tweets {
  // not normal theme styles;
  // this module is unique;
  &.theme-dark {
    background-color: $gray-lighter;

    article {
      background-image: url("../images/bg-carousel-twitter-dark.png");
    }
  }

  // the slides (article tags) need to have a bg color for the fade animation to work as intended;
  // we have a lot of themes, I don't want to replicate those color declarations;
  // so instead, set all elements to inherit bg color down to the article tag;
  * {
    background-color: inherit;
  }

  // tweet header (who it was sent to);
  h1 {
    text-align: center;
    margin: 0;
    padding-bottom: $bs-gutter;
    font-size: 1.8rem;
    line-height: 36px;

    @include breakpoint($sm) {
      font-size: 2.2rem;
      line-height: 44px;
      padding-bottom: ($bs-gutter * 2);
    }
    @include breakpoint($md) {
      font-size: 2.4rem;
      line-height: 54px;
    }
  }

  // h1 content;
  img.twitter-logo {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 6px;
    width: 36px;

    @include breakpoint($sm) {
      width: 44px;
    }
    @include breakpoint($md) {
      width: 54px;
    }
  }

  span.twitter-head {
    display: inline-block;
    font-style: italic; // TODO: do we need this?
  }

  // tweet content;
  p {
    color: $gray-darker;
    font-weight: $light;
    font-size: 2rem;
    margin: 0;

    @include breakpoint($sm) {
      font-size: 2.4rem;
    }
    @include breakpoint($md) {
      font-size: 3rem;
    }
    @include breakpoint($lg) {
      font-size: 3.2rem;
    }
  }

  // wrapper for the carousel slides;
  div.carousel-container {
    text-align: left;
  }

  // carousel "slide";
  article {
    // long hand background css so we don't blow away the color set by the theme class;
    background-image: url("../images/bg-carousel-twitter-light.png");
    background-position: -42px center;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    // + 100px is for the absolutely positioned share links;
    padding: ($bs-gutter * 2) ($bs-gutter * 2) ($bs-gutter + 112px);

    @include breakpoint($sm) {
      padding: ($bs-gutter * 3) ($bs-gutter * 4) ($bs-gutter + 128px);
    }

    @include breakpoint($md) {
      padding: ($bs-gutter * 3) ($bs-gutter * 8) ($bs-gutter + 128px);
    }

    @include breakpoint($lg) {
      padding: ($bs-gutter * 3) ($bs-gutter * 12) ($bs-gutter + 128px);
    }

    // hide all but the first slide before slick initializes;
    & + article {
      display: none;
    }

    // stop the bg color propagation so we don't impact icons and images;
    * {
      background: transparent;
    }
  }

  div.share {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: ($bs-gutter * 2);

    // share header;
    h2 {
      font-family: $serif;
      font-weight: $bold;
      font-size: 1.2rem;
      color: $gray-dark;
      margin: 0;
      text-transform: uppercase;

      @include breakpoint($md) {
        font-size: 1.4rem;
      }
    }

    p {
      margin: ($bs-gutter / 2) 0 0;

      @include breakpoint($sm) {
        margin: $bs-gutter 0 0;
      }
    }

    a {
      color: $gray-medium;
      font-size: 2.8rem;

      + a {
        margin-left: $bs-gutter;

        @include breakpoint($sm) {
          margin-left: ($bs-gutter / 2);
        }
      }
    }
  }
}

// adjust the layout if this component is nested within a div.row-with-ad;
div.row-with-ad {
  section.carousel-tweets {
    margin: -$bs-gutter;

    @include breakpoint($sm) {
      margin: (-$bs-gutter * 2);
    }
  }
}
