section.history-container{
  background: $gray-lighter;
  margin: 0 auto;
  padding-bottom: $gap-triple;

  @include breakpoint($sm) {
    padding-bottom: 0;
  }

  @include breakpoint($lg) {
    padding-bottom: $gap-triple;
  }
}

.viewing-history-result-result__link-container {
  display: block;
  box-shadow: $shadow;
  @include aspect-ratio(16, 9);
}


article.history-result {
  background: $white;
  color: $gray-primary;
  border-bottom: $divider;
  font-size: $ernie;
  margin: 1px $gap 0 $gap;
  padding: $gap;

  @include breakpoint($sm) {
    margin: 1px 0 0 0;
    padding: $gap-large $gap;
  }

  @include breakpoint($md) {
    padding: $gap-double $gap-double;
  }

  @include breakpoint($lg) {
    margin: 1px $gap-double 0 $gap-double;
  }

  .history-poster{
    max-width: 325px;
    height: auto;
  }

  .viewing-history-result-image {
    width: 100%;
  }

  .history-info-table{
    td{
      border-top: 0;
      padding: $gap-quarter;
      font-size: $elmo;
      font-weight: $semibold;
    }
  }

  .link-remove{
    font-family: $serif;
    font-weight: $bold;
    font-size: $elmo;
    color: $blue;
    margin-left: $gap-half;
  }

  .progress {
    background-color: $gray-light;
    border-radius: 0;
    box-shadow: none;
    height: 10px;
    margin-bottom: $gap-quarter;
    margin-top: $gap-quarter;
    overflow: hidden;
  }

  .progress-bar-success {
    background-color: $green;
  }

  p.over-title {
    font-size: $abby;
    margin: 0;
    text-transform: uppercase;

    @include breakpoint($md) {
      font-size: $elmo;
    }
  }

  h1 {
    color: $gray-primary;
    font-size: $oscar;
    margin: $gap-quarter 0 0 0;
    padding-bottom: $gap-half;

    @include breakpoint($md) {
      font-size: 2.2rem;
    }

    a {
      color: $gray-primary;
    }


  }
  p.description {
    margin: $gap-half 0 0 0;
    font-size: $elmo;
  }


  p.info {
    font-size: $elmo;
    margin: $gap-half 0 0 0;

    .passport-logo-wrapper {
      display: inline-block;
      position: relative;
      width: 20px;
      height: 20px;
      margin-right: 5px;

      .passport-logo {
        width: 100%;
        margin-top: -$gap-quarter;
      }
    }
  }

  .remove-links{
    text-align: right;
    width: 100%;
  }

  div.article-body {
    margin: 0;

    @include breakpoint($sm) {
      margin: 0 0 0 (-$gap);
    }
  }
}

.viewing-history__cta-btn {
  padding: 0;
  border: 0;
  background: transparent;
  color: $blue;

  &:hover {
    text-decoration: underline;
  }
}
