.station {
  background-color: $white;

  &.l-container__inner {
    @include breakpoint($sm) {
      background-color: $gray-lighter;
      background-image: linear-gradient(#1E6DB2, #BCDBED);
    }
  }
  // container for all the content in this component;
  .section-body {
    padding: $gap-double $gap $gap-quad $gap;
    background-position: bottom center;

    .no-touchevents & {
      background-attachment: fixed; //to get the parallax effect, but only on non-touch devices
    }

    @include breakpoint($below-sm) {
      background-image: none !important; // don't want a background below sm, overriding the JS with !important
    }

    @include breakpoint($sm) {
      padding: $gap-large $gap-larger;
      background-size: cover;
    }

    @include breakpoint($md) {
      padding-left: 0;
      padding-right: 0;
      padding-top: $gap-quad;
    }

    @include breakpoint($lg) {
      padding-left: $gap-triple;
      padding-right: $gap-triple;
      padding-top: $gap-quad;
      background-size: 1280px auto;
    }

    @include breakpoint((min-height 1280px)($lg)) {
      background-size: 100vh auto;
    }
  }

  // translucent box wrapping content
  .station__wrapper {
    @include clearfix();
    background: $white;
    background: rgba($white, .95);

    @include breakpoint($sm) {
      padding: $gap-large $gap;
      margin: 0 0 20rem 0;
    }

    @include breakpoint($md) {
      margin-bottom: 26rem;
    }

    > [class*="col"] {

      @include breakpoint($sm) {
        padding-top: $gap;
      }

      &:nth-child(2) {
        padding-left: 0;

        @include breakpoint($sm) {
          border-left: $divider;
        }

        @include breakpoint($md) {
          padding-left: $gap;
          border-right: $divider;
        }
      }
      &:last-child {
        border-right: 0;
      }
    }
  }

  // container for each column of content;
  // this is the target of JS that sets equal heights;
  .section-content {
    position: relative;
    margin-bottom: $gap-half;

    // left column;
    &.station-donate {
      padding-top: $gap;
      padding-bottom: $gap;
      @include breakpoint($sm) {
        padding-right: $gap;
      }

    }

    .station__tagline {
      display: none;

      @include breakpoint($sm) {
        display: block;
      }

      margin-bottom: $gap-double;
      color: $gray-dark;
      font-family: $serif;
      font-size: $elmo;
      font-weight: $bold;
      text-align: center;
    }

    // middle column
    &.station-links {

      padding: $gap-double 0 0 0;

      @include breakpoint($sm) {
        padding: 0 $gap 0 $gap-quad;
      }

      @include breakpoint($md) {
        padding-right: $gap-large;
        padding-left: $gap-triple;
      }

      li:first-child {
        padding-top: 0;
      }

      li:last-child {
        padding-bottom: 0;
        margin-bottom: $gap;
      }
    }

    // right column (when visible);
    &.station-schedule {
      padding-left: $gap;

      &--just-link {
        text-align: center;
      }

      .section-title {
        margin-bottom: $gap;
        font-size: 2.4rem;
      }
    }
  }

  // left column;
  .section-title {
    @include typography-l1-header();
    margin: 0;
    font-size: $snuffy;
    text-align: center;
  }

  // container for the sponsor logo;
  .sponsor {
    margin: $gap 0;

    .station-logo {
      @include breakpoint($md-only) {
        max-width: 200px;
      }
    }

    a,
    img {
      display: block;
      margin: 0 auto;
      text-align: center;

      &:hover {
        text-decoration: none;
      }
    }

  }

  .donate {
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-align: center;

    @include breakpoint($sm) {
      padding: $gap;
    }

    .station-donate {
      background-color: $red;
      border-color: darken($red, 15%);
    }
  }

  // center column;
  // list of links for this station;
  ul {
    font-size: $oscar;
    font-weight: $semibold;
    margin: 0;

    @include breakpoint($sm) {
      font-size: $ernie;
    }
  }

  li {
    margin-bottom: $gap-double;
    padding: 0;
    text-align: center;

    @include breakpoint($sm) {
      text-align: left;
    }
  }

  // right column;
  // view whole schedule
  p.view-all {
    font-size: $zoe;
    margin-top: -2px; // negative margin to it lines up with the h2;
  }

  // schedule header;
  .station-schedule__header {
    margin: 0;
    color: $gray-darker;
    font-weight: $bold;
    font-size: $zoe;
    text-transform: uppercase;
  }

  // schedule table;
  .table-striped {
    color: $gray-primary;
    font-size: $ernie;
    margin: $gap-half 0 0 0;

    tbody > tr {
      background: transparent;

      &:first-child td {
        border-width: 0;
      }
    }

    td {
      border-color: $divider-color;
      padding: $gap $gap-half;

      &:first-child {
        padding-left: 0;
        white-space: nowrap;
      }
    }
  }
}

.stationContentMobile {
  text-align: center;

  .station-intro {
    font-size: $snuffy;
    padding-top: $gap;
  }

  .station-links {
    text-align: left;
    padding: $gap-double $gap-triple;

    .station-links-header {
      font-size: $ernie;
      font-weight: $bold;
      padding-bottom: 3px;
      border-bottom: 2px solid $divider-color;
    }

    .padded-div { // for increased specificity to override styles in page-header.scss

      .local-station-regular {
        font-size: $snuffy;
        font-weight: $semibold;
        color: $blue;
        line-height: 1;
        display: block;
        height: auto;
        padding: $gap 0;
        text-align: left;
      }
    }
  }
}
