.producer-featured-content {
  padding: $gap-double $gap;

  @include breakpoint($sm) {
    padding: $gap-triple $gap;
  }

  @include breakpoint($md) {
    padding: $gap-triple $gap-double;
  }

  .col-sm-6 {
    @include breakpoint($sm-only) {
      padding: $gap-half;
    }
  }

  p.over-title {
    margin: $gap 0 0 0;
    font-size: $abby;
    text-transform: uppercase;

    @include breakpoint($sm) {
      margin: 0;
    }
  }

  &__title {
    @include typography-l2-header();
    font-size: 2.5rem;
    margin: $gap-quarter 0 $gap-large 0;

    @include breakpoint($sm-only) {
      font-size: $snuffy;
      margin: $gap-quarter 0;
    }

    @include breakpoint($md) {
      font-size: 3rem;
    }

    @include breakpoint($lg) {
      font-size: 3.2rem;
    }
  }

  picture {
    .img-responsive {
      @include breakpoint($below-sm) {
        width: 100%;
      }
    }

    @include breakpoint($sm) {
      margin-left: 4%;
    }
  }

  p.description {
    color: $gray-primary;
    font-size: $elmo;
    margin: 10px $gap 10px 0;

    @include breakpoint($md) {
      font-size: $ernie;
    }
  }

  p.learn-more {
    font-size: $ernie;
    font-family: $serif;
    font-weight: $bold;
    margin: 0 auto;

    @include breakpoint($sm-only) {
      margin-right: $gap-double;
      font-size: $elmo;
    }

    @include breakpoint($md) {
      margin: $gap-large 0 0 0;
    }

    a {
      width: 230px;
      margin: 0 auto;
      padding: $gap;
      @include breakpoint($sm) {
        padding: 0;
      }

    }

    .btn:hover {
      background: rgba($blue, 0.1);
    }


  }
}

.producer-featured-content__picture {
  &.fallback-image__container {
    @include aspect-ratio(16, 9);
  }
}
