.show-filter-form {
  form {
    background: $gray-light;
    padding: 18px $gap 6px $gap;
    border-bottom: 1px solid $gray-medium;
    border-top: 1px solid $gray-medium;

    label,
    span {
      color: $gray-primary;
      font-size: $elmo;
      font-weight: normal;
      padding-bottom: $gap-half;
      display: block;
    }

    .show-filter-form__genre-label {
      padding-bottom: 3px;
    }

    .btn {
      background: none repeat scroll 0 0 transparent;
      border: 0;
      border-radius: $radius;
      color: $gray-darker;
      margin-right: $gap-half;
      padding: 0px 10px;
      font-size: $zoe;
      @include breakpoint($sm) {
        margin-right: $gap-half;
        padding: 6px 10px;
      }

      &:hover,
      &:focus,
      &.selected-btn {
        background: none repeat scroll 0 0 $blue;
        border: 0;
        border-radius: $radius;
        color: $white;
        margin-right: $gap-half;
        padding: 6px 10px;
        span {
          color: $white;
        }
      }

      span {
        color: $gray-darker;
        display: inline;
        font-size: $oscar;
        font-weight: normal;
        padding-bottom: 0;
      }
    }

    .icon-pbs-grid {
      line-height: 0;
      vertical-align: middle;
    }

    .top-sort-row {
      margin: 0;
      padding: $gap 0 $gap-double 0;
      .sort-buttons {
        display: inline-block;
      }

    }

    .station-search {
      margin-top: 10px;
      p {
        margin-bottom: 10px;
      }
      [type="checkbox"] {
        display: inline-block;
        font-size: 30px;
      }
      .station-name {
        display: inline-block;
        margin-left: 10px;
      }
      @include breakpoint($sm) {
        margin-top: 0;
      }
    }

    .has-feedback input {
      font-size: $ernie;
      height: 40px;
      margin-top: -5px;
      padding: 6px;
      border: 1px solid $gray-medium;
      border-radius: 0;
    }
    .form-control-feedback {
      top: 33px;
      font-size: $ernie;
    }
    //Taking out the 'x' that automatically appears in textboxes in IE
    input[type=text]::-ms-clear {
      display: none;
    }

    .styled-select {
      width: 100%;
      height: 40px;
      overflow: hidden;
      background: url('../images/select_arrow.png') no-repeat right $white;
      border: 1px solid $gray-medium;
    }

    .styled-select select {
      background: transparent;
      width: 100%;
      padding: 5px;
      font-size: $ernie;
      line-height: 1;
      border-radius: 0;
      height: 38px;
      -webkit-appearance: none;
      -moz-appearance:none;
      border: 0;
      overflow: visible;
    }

    .large-filters{
      display: flex;
      float: right;

      div{
        display: inline-block;
      }
      @include breakpoint($md-only) {
        margin: 0;
        padding: 0;
      }
      @include breakpoint($lg) {
        padding-left: $gap-half;
      }
    }

    .sorting-options {
      position: absolute;
      right: 7%;
      top: 85px;
      @include breakpoint($sm) {
        right: 3%;
        top: 70px;
      }
      @include breakpoint($md) {
          right: 2%;
          top: 112px;
        }


      div {
        display: inline-block;
      }
    }
  }

  &__layout-buttons {
    display: inline-block;
    margin-left: 20px;
    @include breakpoint($md) {
      height: 59px;
      margin-right: 0;
      margin-left: 14px;
      width: auto;
      position: relative;
    }
    @include breakpoint($lg) {
      margin-left: 0;
    }
  }

  .divider{
    border-right: 1px solid $gray-medium;
    padding-right: 3px;
    margin-right: 10px;
    display: inline-block;
    @include breakpoint($sm) {
      padding-right: 20px;
      margin-right: $gap-double;
      padding-right: $gap;
    }
    @include breakpoint($md) {
      margin-right: 0;
      padding-right: 0;
    }
    @include breakpoint($lg) {
      margin-right: $gap-double;
      padding-right: $gap-half;
    }
  }

  span.inline {
    display: inline !important;
    padding-left: $gap-quarter;
  }

  .results {

    div.results-table{
      margin: 0 10px;
    }

    // list results;
    .table-bordered {
      border-collapse: collapse;
      border: 3px solid $gray-lighter;
    }
    .table-bordered > thead > tr > th {
      margin-left: $gap-half;
      color: $gray-darker;
      text-transform: uppercase;
      padding: $gap;
    }
    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > td {
      border: 1px solid $gray-medium;
    }
    @include breakpoint($below-sm) {
      .table-bordered > tbody > tr > td{
        border: 0;
        border-bottom: 1px solid $gray-medium;
      }
      .video-count {
        margin-top: 10px;
        color: $gray-dark;
        white-space: pre;
      }
    }

    table {
      margin-top: $gap-quarter;
      font-size: $ernie;

      @include breakpoint($below-sm) {
        table {
          margin: 0;
        }
      }

      th{
        font-family: $serif;
        font-weight: $bold;
        font-size: $elmo;
        background-color: $gray-light;
      }
      td{
        padding: 14px
      }
    }
  }

  .show-container {
    /*****
    .hover-scale {
      transform: scale(1, 1);
      transition-duration: 500ms;
      transition-timing-function: ease-out;

      -webkit-transform: scale(1, 1);
      -webkit-transition-duration: 500ms;
      -webkit-transition-timing-function: ease-out;

      -moz-transform: scale(1, 1);
      -moz-transition-duration: 500ms;
      -moz-transition-timing-function: ease-out;

      -ms-transform: scale(1, 1);
      -ms-transition-duration: 500ms;
      -ms-transition-timing-function: ease-out;
    }
    .hover-scale:hover {
      transform: scale(1.15, 1.15);
      transition-duration: 500ms;
      transition-timing-function: ease-out;

      -webkit-transform: scale(1.15, 1.15);
      -webkit-transition-duration: 500ms;
      -webkit-transition-timing-function: ease-out;

      -moz-transform: scale(1.15, 1.15);
      -moz-transition-duration: 500ms;
      -moz-transition-timing-function: ease-out;

      -ms-transform: scale(1.15, 1.15);
      -ms-transition-duration: 500ms;
      -ms-transition-timing-function: ease-out;
    }
    *****/
  }
}

.shows-landing__no-results-header {
  font-size: $oscar;
  padding: 0 20px 20px 20px;
}

.station-selector {
  display: flex;

  @include breakpoint($sm) {
    margin-top: 15px;
  }
}
