.schedule {
  // left column;
  .row-with-ad & {
    padding: 0 20px;
  }

  .section-title {
    margin: 0;
    color: $gray-darker;
    font-size: 2.3rem;
    font-weight: $light;
  }

  .schedule-title {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    padding-left: 12px;
    border-left: 1px solid $gray-medium;
  }

  // right column;
  // view whole schedule
  .view-all {
    margin-top: $gap-half;
    float: none;
    text-align: right;
  }

  // schedule table;
  .schedule__table {
    margin: $gap-quarter 0;
    color: $gray-primary;
    font-size: $ernie;

    tr {
       &:first-child td {
        border: 0;
      }
    }

    td {
      padding: $gap $gap-half;
      border-color: $gray-light;

      &:first-child {
        padding-left: 0;
        white-space: nowrap;
      }
    }

    .schedule__time {
      max-width: 90px;
      overflow: hidden;
    }
  }

  &--just-link {
    text-align: center;

    .section-title {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 0;
    }
  }
}

.localize {
  height: 100%;
  margin-right: 3px;
  margin-left: 3px;
  background-color: darken($white, 3%);
  color: $gray-dark;
  text-align: center;

  &__title {
    margin-top: $gap-triple;
    font-weight: $light;
  }

  &__subtitle {
    margin-top: 0;
    padding: $gap ($gap * 3.5);
    font-size: $ernie;
    line-height: 2rem;
  }

  .localize-pin {
    margin-right: $gap;
  }

  .explore-more {
    margin-bottom: ($gap * 5);
  }
}
