section.empty {
  background: $gray-lighter;
  color: $gray-primary;
  padding: $gap-double $gap $gap-quad $gap;
  text-align: center;

  @include breakpoint($sm) {
    padding: $gap-double $gap-double ($gap * 6) $gap-double;
  }

  // wrapper for all content;
  // add a max-width so the content doesn't spread across wide pages;
  div.body {
    max-width: 360px;
    margin: 0 auto;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  h1 {
    font-size: $oscar;
    margin-top: 22px;

    @include breakpoint($md) {
      font-size: $snuffy;
    }

    @include breakpoint($lg) {
      font-size: 2.6rem;
    }
  }

  p {
    font-size: $elmo;
    margin-top: $gap;

    @include breakpoint($md) {
      font-size: $ernie;
    }
  }
}
