// Styles used by the design elements page

.swatch-group {
  margin-right: -$gap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  > .swatch,
  > .swatch-tint-stack {
    width: 100%;

    @include breakpoint($xs) {
      width: calc(50% - #{$gap});
    }

    @include breakpoint($sm) {
      width: calc(33.33% - #{$gap});
    }

    @include breakpoint($md) {
      width: calc(25% - #{$gap});
    }

    border: solid 1px $gray-medium;
    margin-right: $gap;
    margin-bottom: $gap;

    display: flex;
    flex-direction: column;

    > * {
      flex-grow: 1;
    }

    > .swatch {
      height: 120px;
    }

  }
}


.swatch,
.swatch-tint {


  padding: $gap;
  text-align: center;
  vertical-align: top;
  line-height: 1.4;

  &--icon {
    padding: $gap-double $gap;
    align-items: center;

    @include breakpoint($md) {
      padding: $gap-triple $gap-double;
    }
  }
}

.contrast-table {
  margin-right: -$gap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  &__group {
    width: 100%;
    margin-right: $gap;

    @include breakpoint($xs) {
      width: calc(50% - #{$gap});
    }

    @include breakpoint($sm) {
      width: calc(33.33% - #{$gap});
    }

    @include breakpoint($md) {
      width: calc(25% - #{$gap});
    }
  }

  &__swatch {
    padding: $gap-quarter $gap;
    margin-bottom: $gap-quarter;

    [class^="icon"] {
      float: right;
    }
  }
}

#fill-buttons,
#ghost-buttons {
  + p {

    overflow: hidden;

    > .btn {
      display: inline-block;
      float: left;
      margin-bottom: $gap-half;
      margin-right: $gap-half;
    }
  }
}

.al-layout-container {
  padding: $gap;
  margin: $gap-double 0;
  max-width: 600px;
  border: 3px dashed $gray-medium;
}

.al-box-inputs {
  > p {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
  }

  label {
    width: 25%;
  }
}

.al-form-layout {

  &--wide {
    border: 3px dashed $gray-medium;
    padding: $gap;
    margin: $gap-double 0;
    max-width: 1024px;

    > p {
      display: flex;
      flex-direction: column;
      flex-wrap: no-wrap;
      @include breakpoint($sm) {
        flex-direction: row;
      }
    }

    label {
      width: 100%;
      @include breakpoint($sm) {
        width: 25%;
      }
    }

    input,
    textarea {
      width: 100%;
      @include breakpoint($sm) {
        width: 75%;
      }
    }

    textarea {
      margin-bottom: $gap-double;
    }
  }

  &--narrow {
    border: 3px dashed $gray-medium;
    padding: $gap;
    margin: $gap-double 0;
    max-width: 500px;

    label {
      width: 100%;
    }

    input,
    textarea {
      width: 100%;
    }

    textarea {
      margin-bottom: $gap-double;
    }
  }
}

.al-form__buttons {
  .btn {
    width: 100%;
    margin-bottom: $gap;

    @include breakpoint($xs) {
      width: auto;
      margin-right: $gap-half;
    }


    &--destructive {
      @include breakpoint($xs) {
        margin-right: 0;
        float: right;
      }
    }
  }
}
