/**
 * Site Nav Bar
 */

$nav-height: 70px;

.al-nav {

  &__outer {
    width: 100%;
    background: $blue-light;
  }

  @include clearfix;
  min-height: $nav-height;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding: 0 $gap;
  color: $white;
  z-index: 5;

  @include breakpoint($sm) {
    justify-content: flex-start;
    flex-direction: row;
    margin: 0 auto;
  }

  &__logo {
    width: 80px;
    margin-top: $gap;

    &-link {
      &:focus {
        outline-color: $white;
      }
    }
  }

  &__menu-icon {
    display: block;
    float: left;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg {
      width: 18px;
      height: 15px;
      position: relative;
      top: -4px;
      path {
        fill: $gray-primary;
      }
    }

    @include breakpoint($sm) {
      display: none;
    }
  }

  &__site-nav {

    position: absolute;
    top: $gap-large;
    left: $gap;
    background-color: $white;
    border: 1px solid $gray-primary;
    border-radius: 5px;


    @include breakpoint($sm) {
      float: right;
      left: auto;
      right: $gap-half;
      border: 0;
      background-color: transparent;
      text-align: right;
    }

    &__menu {
      clear: both;
      display: none;

      @include breakpoint($sm) {
        display: block;
      }
    }

    &:hover &__menu,
    &:focus &__menu  {
      display: block;
      padding-bottom: 5px;
    }


    &__page-link {
      display: block;
      padding: 5px $gap-half;
      color: $text-color;
      line-height: $base-line-height;

      @include breakpoint($sm) {
        display: inline;
        margin-left: 20px;
        color: $white;

        &:visited {
          color: $white; // overrides default link styling
        }

        &:focus {
          outline-color: white;
        }

        &:first-child {
          margin-left: 0;
        }
      }

    }

    &__label {
      margin-left: $gap-half;
      color: $gray-primary;
      font-style: italic;
      font-size: 85%;

      @include breakpoint($sm) {
        font-size: inherit;
        font-style: normal;
        margin-right: -$gap;
      }
    }
  }
}

.al-header {
  padding: $gap;

  @include breakpoint($sm) {
    padding: $gap-double $gap;
  }

  &__headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;
  }

  &__subtitle {
    margin: 0;
    font-size: $oscar;

    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);

    @include breakpoint($sm) {
      position: static;
      width: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      clip: none;
    }
  }

  &__meta {
    width: 100%;
    padding-top: $gap;
    margin-bottom: - $gap-half;

    @include breakpoint($sm) {
      width: 50%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      > * {
        flex-basis: 50%;
      }
    }
  }
}


.site-title {
  font-size: 20px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  &,
  &:visited {
    color: $grey-color-dark;
  }

}

.site-nav {

}


/**
 * Site footer
 */

 .site-footer {
    // border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
  }

  .footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
  }

  .contact-list,
  .social-media-list {
    list-style: none;
    margin-left: 0;
  }

  .footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
  }

  .footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }

  .footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width: calc(45% - (#{$spacing-unit} / 2));
  }

  @include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
      width: -webkit-calc(50% - (#{$spacing-unit} / 2));
      width: calc(50% - (#{$spacing-unit} / 2));
    }
    .footer-col-3 {
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width: calc(100% - (#{$spacing-unit} / 2));
    }
  }

  @include media-query($on-palm) {
    .footer-col {
      float: none;
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width: calc(100% - (#{$spacing-unit} / 2));
    }
  }


/**
 * Page content
 */

.al-page-content {
  @include clearfix();
  padding: $gap;
  background: $white;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;
  @media screen and (min-width: 600px) {
    width: 75%;
    float: right;
  }
  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}


/**
 * Posts
 */

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  overflow: hidden;
  > h2 {
    font-size: 32px;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }
  > h3 {
    font-size: 26px;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }
  > h4 {
    font-size: 20px;
    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.post--example {
  border-bottom: $divider;
  background: $white;
  padding: $gap;
  margin: 0 (- $gap) $gap (- $gap);
}

.component-nav {
  margin: 0;
  padding: 0;
  @media screen and (min-width: 600px) {
    width: 20%;
    float: left;
  }
  li {
    list-style: none;
    margin: 0;
  }
  a {
    display: block;
    padding: 20px;
    background: white;
    border: solid 1px grey;
  }
}

.al-accent-type {
  font-family: $serif;
  font-weight: $bold;
}
