.video-player {
  background: $gray-lighter;

  &-wrapper {
    position: relative;
    height: 0;
    padding-bottom: $video-ratio;
    background-color: $black; // this matches the iframe

    // Using an ::after pseudo element to indicate a video loading
    &::after {
      position: absolute;
      top: 50%;
      left: 10%; // centering by % - 100% - 80% / 2
      width: 80%;
      transform: translateY(-40%); // to center the text vertically (optically) without knowing height
      color: $white;
      font-size: $snuffy;

      @include breakpoint($xs) {
        font-size: 3rem;
      }

      font-weight: $light;
      text-align: center;
      text-shadow: $shadow;
      content: 'Loading Player…';
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  // put a vertical dividing border between these columns (top row of featured brands);
  // use the > so we don't target the nested grid;
  .article-body {
    padding-right: $gap;

    &::after {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background-color: $gray-light;
      content: '';

      @include breakpoint($md) {
        display: block;
      }
    }
  }

  // container for all content beneath the video;
  .article-body-wrapper {
    padding: $gap-double $gap $gap-quad $gap;

    @include breakpoint($sm) {
      padding: $gap-double $gap-double $gap-quad $gap-double;
    }

    @include breakpoint($md) {
      padding: $gap-double $gap-quad $gap-quad $gap-quad;
    }

    @include breakpoint($lg) {
      padding: $gap-double ($gap * 6);
    }
  }

  &__title {
    margin: $gap-quarter 0 0 0;
    color: $gray-primary;
    font-size: 2.6rem;
    font-weight: $normal;
  }

  &__section-title {
    margin: $gap-double 0 0 0;
    color: $gray-dark;
    font-family: $serif;
    font-size: $elmo;
    font-weight: $bold;

    + p,
    + ul {
      margin-top: $gap;
    }

    &:first-child {
      margin: 0;
    }
  }

  .icon-pbs-cc {
    position: relative;
    top: 2px;
    font-size: $snuffy;
    vertical-align: middle;
  }

  &__info {
    margin: $gap 0 0 0;

    .passport-logo-wrapper {
      display: inline-block;
      position: relative;
      width: 20px;
      height: 20px;
      margin-right: 7px;
      margin-bottom: 3px;

      @include breakpoint($md) {
        width: 23px;
        height: 23px;
        margin-right: 10px;
      }

      .passport-logo {
        width: 100%;
        padding-bottom: $gap-quarter;
      }
    }

    &__details {
      margin-left: 7px;
      padding-left: 7px;
      border-left: 1px solid $gray-primary;
      font-size: $elmo;

      &:first-child {
        margin-left: 0;
        padding-left: 0;
        border-left: 0;
      }
    }
  }

  .over-title {
    margin-top: -6px;
    color: $gray-dark;
    font-family: $serif;
    font-size: $elmo;
    font-weight: $bold;
    text-transform: uppercase;

    a {
      color: $gray-dark;
    }
  }

  &__description {
    margin: $gap 0 0 0;
    color: $gray-primary;
    font-size: $ernie;
  }

  &__watchlist {
    margin: $gap-double 0;
  }

  &__utilities {
    margin-top: $gap;
    padding-top: $gap;
    border-top: $divider;
    color: $gray-dark;
    font-family: $serif;
    font-size: $elmo;
    font-weight: $bold;
  }

  &__buy-options {
    color: $gray-dark;

    &__title {
      display: block;
      padding-bottom: $gap;
    }

    .icon-pbs-apple,
    .icon-pbs-dvd {
      padding-top: 6px;
    }

    .icon-pbs-apple {
      font-size: 2.4rem;
    }

    .icon-pbs-dvd {
      position: relative;
      top: $gap-quarter;
      font-size: $snuffy;
    }

    a:hover {
      text-decoration: none;
    }

    &__text {
      position: relative;
      bottom: 2px;
      padding: 0 $gap-double 0 12px;
      color: $gray-dark;
      font-family: $sans-serif;
      font-size: $zoe;
      font-weight: $normal;
    }
  }

  .list-unstyled {
    margin-bottom: 0;

    li {
      padding: $gap-half 0;
    }
  }

  &__share {
    padding: 0 $gap;

    .video-player__share__title {
      margin-top: 2px;
      margin-bottom: ($gap + 7);
      color: $gray-dark;
      font-family: $serif;
      font-size: $elmo;
      font-weight: $bold;
    }

    &__links {
      padding: 0;
      list-style-type: none;
    }

    &__list-item {
      margin-right: 3px;

      @include breakpoint($xs) {
        margin-right: 10px;
      }

      &:last-child {
        margin: 0;
      }
    }

    &__link {
      $linksize: 3rem;

      font-size: $linksize;

      &--facebook {
        position: relative;
        top: -1px;
      }

      &--twitter {
        font-size: ($linksize + .05);
      }

      &--email,
      &--google-plus {
        position: relative;
        top: 1px;
        font-size: ($linksize - .36);
      }

      &--google-plus {
        left: 1px;
      }
    }

    .embed-modal-trigger {
      display: none;
      position: relative;
      left: 3px;
      padding: 0;
      border: 0;
      background: transparent;
      color: $blue;

      @include breakpoint($md) {
        display: inline-block;
      }
    }
  }

  // right column;
  &__related {
    margin-top: $gap-triple;
    padding-top: $gap-double;
    border-top: $divider;
    font-size: $elmo;

    @include breakpoint($md) {
      margin: 0;
      padding: 0 0 0 $gap;
      border: 0;
    }

    &__problems {

      &__links {
        margin-top: $gap;
        color: $gray-dark;
        font-size: $elmo;

        p {
          display: inline;

          @include breakpoint($md) {
            border-right: $divider;

            //removes border from cc link
            &:last-of-type {
              margin-left: $gap;
              border: 0;
            }
          }
        }

        a {
          display: block;
          position: relative;
          line-height: 2.5;
          white-space: nowrap;

          @include breakpoint($sm) {
            margin-right: $gap;
          }

          @include breakpoint($md) {
            display: inline-block;
            margin-top: $gap-half;
            line-height: 1.5;
          }

          .video-issues,
          .cc-issues {
            cursor: pointer;
          }
        }

        .video-issues {
          margin: $gap-half $gap $gap-half 0;
          padding: 0;
          border: 0;
          background: transparent;
          color: $blue;

          @include breakpoint($md) {
            margin: $gap-half $gap 0 0;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &__problems,
    &__funding {
      margin-right: $gap-larger;
      margin-left: $gap;

      @include breakpoint($sm) {
        float: left;
      }

      @include breakpoint($md) {
        display: block;
        width: 100%;
        float: none;
      }
    }

    &__links {
      display: none;

      @include breakpoint($sm) {
        display: inline-block;
        width: 400px;
        padding-left: 50px;
        border-left: $divider;
      }

      @include breakpoint($md) {
        display: block;
        width: 100%;
        margin-left: $gap;
        padding-top: 50px;
        padding-left: 0;
        float: none;
        border: 0;
      }

      li {
        @include typography-truncate();
      }
    }

    &__funding {
      padding-top: 3rem;
      color: $gray-dark;
      font-size: 1.45rem;
      font-style: italic;
      font-weight: $normal;

      @include breakpoint($sm) {
        bottom: 0;
      }
    }

  }

}

// Share Embed Code Modal
.embed-modal {
  display: none;
  padding: 0;
  font-family: $sans-serif;

  .modal-body {

    &__title {
      color: $gray-primary;
      text-align: center;
    }

    &__info {
      display: flex;
    }

    &__details {
      display: inline;
    }

    &__show-title {
      font-size: $abby;
      text-transform: uppercase;
    }

    &__video-title {
      font-size: $oscar;
      font-weight: $normal;

      @include breakpoint($lg) {
        font-size: 2.2rem;
      }
    }

    &__airdate {
      margin-top: 10px;
      color: $gray-dark;
      font-family: $sans-serif;
      font-size: $abby;
      font-weight: $normal;
    }

    &__image {
      display: inline-block;
      width: 200px;
      margin: 10px;
      float: left;
    }

    &__edit-dimensions {
      display: flex;
      justify-content: center;

      &--width,
      &--height {
        padding: 20px 10px 10px 10px;

        input {
          max-width: 55px;
        }
      }
    }
  }


  .embed-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: $sans-serif;

    &__direction {
      display: inline-block;
      margin-top: 5px;
      font-size: 1rem;
      font-weight: normal;
    }

    .embed-text {
      display: inline-block;
      width: 90%;
      font-size: $abby;
    }
  }

  input[readonly]:focus {
    outline: 1px solid $gray-medium;
    box-shadow: 0 0 4px $gray-medium;
  }

}
