// actual page-title component;
.page-title {
  background: $gray-lighter;
  padding: $gap-double $gap $gap $gap;

  @include breakpoint($md) {
    padding: $gap-triple $gap;
  }

  @include breakpoint($lg) {
    padding: $gap-triple $gap-double;
  }

  h1 {
    @include typography-l2-header();
    font-size: 5.6rem;
    margin: 0;

    @include breakpoint($sm-only) {
      font-size: 4.5rem;
    }

    @include breakpoint($below-sm) {
      font-size: 3.0rem;
    }
  }
}
