// updates to the base Bootstrap button style;
.btn {
  @include btn(); // shared button styling

  .btn--ripple-effect {
    background: $gray-light;
  }

  // sign in button seen in side user menu
  &--sign-in {
    @include btn-states() {
      background: $blue;
      border-color: $blue;
      color: $white;
      font-size: $oscar;
      font-family: $serif;
      text-decoration: none;

      // turns back into a regular link at md
      @include breakpoint($md) {
        background: transparent;
        border: 0;
        color: $blue;
        font-family: $sans-serif;
        font-size: $ernie;
      }
    }
  }

  // add show to favorites
  &--favorite {
    @include btn-states() {
      background: $gray-lighter;
      border-color: $gray-medium;
      color: $gray-dark;
    }

    .btn--ripple-effect {
      background: $yellow;
    }

    [class^=icon-] {
      margin-right: 8px;
      vertical-align: middle;
    }

    &.selected {
      background: $yellow;
      border-color: darken($yellow, 15%);
      color: $white;
    }

    .no-js & {
      display: none; //this won't work without javascript
    }
  }

  // add video to watchlist
  &--watchlist {
    @include btn-states() {
      background: $gray-lighter;
      border-color: $gray-medium;
      color: $gray-dark;
    }

    .btn--ripple-effect {
      background: $brand-success;
    }

    [class^=icon-] {
      margin-right: 8px;
      vertical-align: middle;
    }

    &.selected {
      background: $brand-success;
      border-color: darken($green, 15%);
      color: $white;
    }
  }

  // remove an item from viewing history or watchlist
  &--remove {
    font-family: $sans-serif;
    font-weight: $semibold;
    font-size: $oscar;
    line-height: 0.4;
    padding: 6px 6px 9px 6px;
    height: 24px;
    background-color: $gray-lighter;
    color: $blue-muted;
    border: 1px solid $blue-muted;
  }

  // search the website - magnifying glass icon
  &--search {
    padding: $gap;
    border: 0;
  }

  // CTA - Call To Action - e.g. donate;
  &--cta {
    @include btn-states() {
      background-color: $red;
      border-color: darken($red, 15%);
      color: $white;
    }
  }

  // visit (for producer website on show-details);
  // Custom breakpoint for xs screens
  $over400: 400px;
  &--visit {
    @include btn-states() {
      font-size: $abby;
      color: $white;
      background-color: $blue;

      @include breakpoint($over400) {
        font-size: $elmo;
      }

      @include breakpoint($md-only) {
        font-size: $abby;
      }
    }
  }

  // close button used in modals;
  &--close {
    position: absolute;
    right: $gap;
    top: 10px;
    border: 0;
    background: none;
    color: $white;
    font-size: 3rem;
    font-weight: $bold;
    cursor: pointer;
  }

  // inverts basic button colors to indicate a 'more important' button in a set of two
  &--inverse {
    color: $white;
    background-color: $blue;
  }

  // not a specific button type, but a flag to indicate an interaction - the ripple effect;
  &--ripple {
    overflow: hidden;
    position: relative;
  }

  // applied via JS;
  &--ripple-effect {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: ripple-animation 2s;
  }

  &--magenta {
    @include fill-btn($magenta);
  }

  &--orange {
    @include fill-btn($orange);
  }

  &--red {
    @include fill-btn($red);
  }

  &--green {
    @include fill-btn($green);
  }

  &--blue-digital {
    @include fill-btn($blue-digital);
  }

  &--blue-antique {
    @include fill-btn($blue-antique);
  }

  &--blue-brand {
    @include fill-btn($blue-brand);
  }

  &--gray-56 {
    @include fill-btn($gray-56);
  }

  &--gray-30 {
    @include fill-btn($gray-30);
  }

  &--ghost {
    &--red {
      @include ghost-btn($red);
    }

    &--green {
      @include ghost-btn($green);
    }

    &--gray-87 {
      @include ghost-btn($gray-100);
    }
  }
}

@keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(100);
    opacity: 0;
  }
}
