.fallback-image__container {
  display: block;
  position: relative;

  &--blue {
    @include fallback-gradient(#09385d, $blue, #1879C4, 20%);
  }

  &--gray {
    @include fallback-gradient($gray-medium, $gray-light, $gray-lighter, 50%);
  }
}

.image--needs-fallback {
  color: $gray-primary;
  font-size: 0;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 3;
}

.fallback-image__text-container {
  position: relative;
  width: 100%;
  z-index: 1;
}

.fallback-image__text {
  box-sizing: border-box;
  color: $white;
  display: block;
  font-size: $elmo;
  padding: 50px 10px 10px 10px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 1px rgba($black, .8);
  white-space: pre-wrap;
  word-break: break-word;
  width: 100%;

  @include breakpoint($sm) {
    font-size: $oscar;
    padding-top: 75px;
  }
}
