//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $normal;
  line-height: 1.1;
  color: inherit;
}

h1,
h2,
h3 {
  margin-top: $gap;
  margin-bottom: $gap-half;
}

h4,
h5,
h6 {
  margin-top: $gap-half;
  margin-bottom: $gap-half;
}

h1 {
  font-size: 3.6rem;
}

h2,
.h2 {
  font-size: 3.0rem;
}

h3,
.h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: $oscar;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: $abby;
}

// Body text
// -------------------------

p {
  margin: 0 0 $gap-half 0;

  &.over-title {
    color: $gray-dark;
    font-family: $serif;
    font-weight: $bold;

    a {
      color: $gray-dark;
    }
  }

  // view all links are typically floated right so they are on the same baseline as the H1 title for the component;
  &.view-all {
    margin: $gap-quarter 0 0 0;
    float: right;
    font-family: $serif;
    font-size: $elmo;
    font-weight: $bold;
  }

  // view more links are like view-all, but without the float right
  &.view-more {
    margin: $gap 0 0 0;
    font-family: $serif;
    font-size: $elmo;
    font-weight: $bold;
  }

  &.footnote {
    padding-left: $gap-quad;
    font-style: italic;
    font-weight: $light;
  }
}

// Links
a {
  &,
  &:visited {
    color: $blue;
    text-decoration: none;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }

  &:focus {
    outline: $focusstate;
  }

}

// Emphasis & small
// -------------------------

strong {
  font-weight: $semibold;
}

em {
  font-style: italic;
}

small {
  font-size: $abby;
}


// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: $gap-half;
  ul,
  ol {
    margin-bottom: 0;
  }
}

// [converter] extracted as `@mixin list-unstyled` for libsass compatibility
.list-unstyled {
  padding-left: 0;
  list-style: none;
}


// Description Lists
dl {
  margin-top: 0; // Remove browser default
  margin-bottom: $gap;
}

dt,
dd {
  line-height: $line-height;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0; // Undo browser default
}

// Misc
// -------------------------

// Abbreviations and acronyms
abbr[title],
// Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted $gray-light;
}

// Blockquotes
blockquote {
  margin: 0 0 $gap 0;
  padding: $gap-half $gap;
  font-size: $abby;
  border-left: 5px solid $white;
  border-color: $divider-color;

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Addresses
address {
  margin-bottom: $gap;
  font-style: normal;
  line-height: $line-height;
}

// Horizontal rules
hr {
  margin-top: $gap;
  margin-bottom: $gap;
  border: 0;
  border-top: $divider;
}
