.video-block {
  padding: $gap-quad $gap $gap-triple $gap ;

  @include breakpoint($sm) {
    padding: $gap-quad $gap-double 0 $gap-double;
  }

  .section-title {
    color: $gray-darker;
    font-weight: $bold;
    font-size: $snuffy;
    text-transform: uppercase;
    margin: 0 0 $gap-half 0;

    span {
      font-weight: $bold;
      margin-left: 5px;
      padding-left: 12px;
      position: relative;

      &:before {
        content: "";
        display: block;
        background: $gray-medium;
        width: 1px;
        position: absolute;
        top: 3px;
        bottom: 3px;
        left: 0;
      }
    }
  }

  // most popular video;
  article.featured {
    background: $white;
    box-shadow: $shadow;
    font-size: $zoe;
    color: $gray-primary;
    // if there is a row of content after this, give that row some space;
    + div.row {
      @include breakpoint($sm) {
        margin-top: $gap-double;
      }
    }

    div.article-body {
      height: 100%;

      @include breakpoint($sm) {
        padding-top: $gap;
      }

      @include breakpoint($md) {
        width: auto;
        margin: $gap $gap (-$gap) (-$gap);
        padding: 0 0 0 $gap;
      }
      @include breakpoint($lg) {
        margin: $gap $gap (-$gap) $gap;
        padding: 0;
      }
    }
    // to counteract the large white space on the right of the picture at larger breakpoints
    .col-sm-7.col-md-7 {
      @include breakpoint($lg) {
        padding-right: 0;
      }
    }
    .col-sm-5.col-md-5 {
      @include breakpoint($sm) {
        padding-left: $gap-half;
      }

      @include breakpoint($md) {
        min-height: 100%;
        position: relative;
        padding-left: $gap;
      }
    }

    .episode-details__title {
      @include typography-l2-header();
      font-size: $snuffy;
      color: $gray-primary;
      line-height: 1.2;
      margin: $gap-quarter $gap $gap 0;
      @include breakpoint($sm) {
        font-size: $snuffy;
        margin-bottom: $gap-quarter;
        @include typography-truncate;
      }
      @include breakpoint($md) {
        font-size: 3rem;
        margin: $gap-quarter $gap $gap 0;
        white-space: normal;
      }
      @include breakpoint($lg) {
        font-size: 3.2rem;
      }
      .video-title {
        @include typography-truncate;
      }
    }

    p {
      font-size: $elmo;
    }

    .description {
      font-size: $elmo;
      margin-right: $gap;
      display: none;

      @include breakpoint($sm) {
        display: block;
      }

      @include breakpoint($md) {
        font-size: $ernie;
      }
    }

    .duration {
      margin: $gap 0 0 0;

      @include breakpoint($sm-only) {
        margin-top: 0;
      }

      .passport-logo-wrapper {
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        margin-right: 5px;

        .passport-logo {
          width: 100%;
        }
      }
    }
    .watchlist {
      margin: $gap 0 0 0;

      .btn--watchlist {
        font-size: $elmo;
        padding: 12px 30px;

        @include breakpoint($md) {
          font-size: $ernie;
        }
      }
    }
    .social-buttons {
      @include breakpoint($md) {
        width: 90%;
        bottom: 0;
        position: absolute;
      }
    }
    .share {
      border-top: $divider;
      font-size: $abby;
      margin-top: $gap;
      padding: $gap 0;
      right: $gap;
      z-index: 1;
      display: none;
      @include breakpoint($md) {
        width: 95%;
        display: block;
        bottom: 0;
      }
      @include breakpoint($lg) {
        width: 90%;
      }
      a {
        font-size: $snuffy;
        line-height: 1;
        margin-left: 0.5rem;
        vertical-align: middle;
      }
    }
    .over-title {
      color: $gray-dark;
      font-size: $abby;
      text-transform: uppercase;
      margin: 0;
    }
  }

  // the collections link bar that appears at the bottom of the video block
  &__collections {
    margin: 0px (-$gap) (-$gap-triple) (-$gap); // extra parens needed to avoid math on compile
    padding-top: $gap-double;
    padding-bottom: $gap-double;
    background: $white;

    @include breakpoint($sm) {
      margin: 0 (-$gap-double);
    }

    @include breakpoint($md) {
      display: flex;
      align-items: center;
    }

    &__title {
      margin: 0 0 $gap 0;
      font-weight: $light;
      font-size: $snuffy;
      text-align: center;

      @include breakpoint($md) {
        margin-left: $gap-double;
        margin-right: $gap;
        margin-bottom: 0;
      }
    }

    &__links {
      list-style-type: none;
      padding: 0;
      margin: 0;

      @include breakpoint($sm) {
        display: flex;
        justify-content: space-around;
      }
    }

    &__item {
      margin: 0;

      @include breakpoint($md) {
        margin-right: $gap;
      }
    }

    &__link {
      display: block;
      padding: $gap-half $gap;
      width: 100%;
      text-align: center;
      font-family: $serif;
      font-size: $zoe;
      font-weight: $bold;

      @include breakpoint($sm) {
        @include btn(); // shared button styling
      }
    }
  }

  // container for the explore-more button at the bottom of this component;
  .explore-more {
    margin: 0;
    text-align: center;
    text-transform: capitalize;

    @include breakpoint($sm) {
      margin-top: $gap;
      margin-bottom: $gap-double;
    }

    .btn:hover {
      background: rgba($blue, 0.1);
    }

    // hide this button above $sm, except on the home page
    @include breakpoint($sm) {
      display: none;

      .home & {
        display: block;
      }
    }

  }
}
