.eoyContainer {
    height: 250px;
    width: 300px;
    margin: 0 auto;
    position: relative;

    .eoyCloseChristmas {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 28px;
        width: 28px;
        background: url("../images/CloseR20.gif") no-repeat;
        background-size: 28px 28px;
        cursor: pointer;
    }
}
