.show-bar {
  display: none;
  position: relative;
  height: 100px;
  padding: 0 $gap-double;
  background-color: lighten($gray-medium, 8%);

  @include breakpoint($sm) {
    display: flex;
    align-items: center;
  }

  &__title {
    max-width: 370px;
    padding-right: $gap-double;
    text-align: left;

    @include breakpoint($md) {
      max-width: 450px;
    }

    @include breakpoint($lg) {
      max-width: 700px;
    }
  }

  &__logo {
    width: auto;
    max-width: 450px;
    max-height: 90px;
  }

  &__logo--text {
    color: $black;
    font-size: $snuffy;
  }

  &__logo-link,
  &__logo-link:visited {
    display: inline-block;
    color: $black;
    vertical-align: middle;
  }

  .favorite {
    margin-right: auto;
    padding-right: $gap-quad;
  }

  &__link--website {
    min-width: 190px;

    a {
      color: $blue;
      font-family: $serif;
      font-size: $elmo;
      font-weight: $bold;
    }
  }
}
