// global carousel styles;

// mixin with shortened variable names so we don't conflict with global vars;
@mixin build-carousel-buttons ($c, $ih, $iw, $p, $bh, $bw) {
  // the selector will tell us what style to use;
  // if nav isn't showing up in the carousel;
  // check to make sure the HTML is being generated;
  // and make sure the carousel has a class to denote the nav size;
  #{$c} {
    // these buttons are inserted via Slick;
    button.slick-next,
    button.slick-prev {
      background: rgba($black, 0.01); // allows for IE10 to click on the button, transparent allows the click to pass through to the object underneath;
      height: $bh;
      width: $bw;
      position: absolute;
      top: 50%;
      margin: (-$bh / 2) 0 0;
      padding: 0;
      z-index: 3;
      border: 0;
      cursor: pointer;
      transition: opacity 0.3s;

      &:focus {
        outline: none;
      }

      svg {
        position: absolute;
        top: $p;
        width: $iw;
        height: $ih;
        filter: drop-shadow(0 2px 2px rgba($black, 0.5));
      }
    }

    button.slick-next {
      right: 0;

      svg {
        right: $p;
      }
    }

    button.slick-prev {
      left: 0;

      svg {
        left: $p;
      }
    }
  }
}

// with the above mixin, we're going to build two nav states;
// one large (big buttons because of wide padding);
// one small (small buttons because of narrow padding);

$image-height: 67px;
$image-width: 26px;
$padding: $bs-gutter; // how much padding to put around the icon;
$button-height: ($image-height + ($padding * 2)); // width + padding on each side the size fo the gutter;
$button-width: ($image-width + ($padding * 2)); // width + padding on each side the size fo the gutter;
@include build-carousel-buttons (".carousel-nav-lg", $image-height, $image-width, $padding, $button-height, $button-width);

$image-height: 67px;
$image-width: 26px;
$padding: 1px;
$button-height: ($image-height + ($padding * 2));
$button-width: ($image-width + ($padding * 2));
@include build-carousel-buttons (".carousel-nav-sm", $image-height, $image-width, $padding, $button-height, $button-width);
