// create spacing for the absolutely position nav (dots);
.carousel {
  position: relative;
  padding-bottom: ($gap-double + 24);

  @include breakpoint($sm) {
    padding: 0;
  }

  // Style the play and pause buttons
  .slick-pause {
    position: absolute;
    top: $gap;
    right: $gap;
    border: 0;
    outline: none;
    background-color: transparent;
    color: rgba($white, .8);
    font-size: $snuffy;
    cursor: pointer;
    z-index: 4;

    @include breakpoint($sm) {
      top: auto;
      right: 20px;
      bottom: $gap;
      font-size: 2.5rem;
    }

    &:focus {
      outline: $focusstate;
    }
  }

  // adjust positioning of the dots on mobile;

  .slick-dots {
    bottom: $gap-quarter;

    @include breakpoint($sm) {
      bottom: $gap;
    }

    [role="button"] {
      &:focus {
        outline: $focusstate;
      }
    }
  }

}
