.funders {
  @include clearfix();
  margin-bottom: $gap;

  .section-title {
    display: inline-block;
    margin: $gap-half $gap $gap-half 0;
    color: $gray-darker;
    font-size: $abby;
    font-weight: $semibold;
    line-height: 1.8;

    // there are a couple breakpoints where we have room for three logos next to this title
    @include breakpoint(550px) {
      float: left;
    }

    // at $sm we need to go back to no float
    @include breakpoint($sm) {
      float: none;
    }

    // finally, at the largest breakpoint, we have room for all three again
    @include breakpoint($lg) {
      float: left;
    }
  }

  &__logo {
    margin-right: $gap;
    margin-bottom: $gap;
    float: left;

    &:last-child {
      margin-right: 0;
    }
  }

  iframe {
    display: inline;
  }
}
