.store-items {
  display: flex;
  flex-direction: column;
  padding: $gap;

  @include breakpoint($sm) {
    padding: $gap-double;
  }

  &__section-title {
    align-self: center;
    margin: 0 auto;

    @include breakpoint($sm) {
      margin-bottom: $gap-large;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include breakpoint($sm) {
      flex-direction: row;
    }

    &.store-items--two {
      @include breakpoint($sm) {
        justify-content: center;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    padding: $gap 0;
    border-top: $divider;

    @include breakpoint($sm) {
      flex: 1 0 0;
      width: 50%;
      align-items: flex-start;
      padding: 0 $gap;
      border-top: 0;
      border-left: $divider;
    }

    .store-items--three & {
      @include breakpoint($sm) {
        display: block;
      }
    }

    &:first-child {
      border-top: 0;

      @include breakpoint($sm) {
        border-left: 0;
      }
    }

    &__image {
      display: block;
      flex: 1 0 0;
      width: 25%;
      padding-right: $gap;

      .store-items--two  & {
        @include breakpoint($sm) {
          width: 50%;
        }
      }

      .store-items--three & {
        @include breakpoint($sm) {
          width: 100%;
          padding-bottom: $gap;
        }
      }

      img {
        width: auto;
        max-height: 175px;
        margin: 0 auto;
      }
    }

    &__info {
      flex: 1 0 0;
      width: 50%;

      // specificity needed here to override global link styles
      .store-items__item__title {
        color: $gray-primary;
      }

      @include breakpoint($sm) {
        padding-bottom: $gap;
        text-align: left;
      }

      .store-items--three & {
        @include breakpoint($sm) {
          padding: 0 $gap;
          width: 100%;
        }
      }
    }

    &__title {
      @include typography-l2-header();
      font-size: 2.3rem;

      @include breakpoint($sm) {
        margin-top: $gap;
      }

      @include breakpoint($lg) {
        font-size: 2.7rem;
      }
    }

    &__description {
      margin: $gap-half $gap 0 0;
      color: $gray-darker;
      font-size: $elmo;
    }

    // not always visible;
    &__link {
      margin: $gap-half 0 0 0;
      font-family: $serif;
      font-size: $elmo;
      font-weight: $bold;
    }
  }

  // centered button at the bottom of the component;
  &__explore-more {
    margin: $gap-double 0 0 0;
    text-align: center;

    .btn:hover {
      background: rgba($blue, .1);
    }

    @include breakpoint($sm) {
      margin-top: $gap-triple;
    }
  }
}
