// Universal styles for both passport login and modal window
.sign-in {
  &__service-list {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    font-size: $ernie;
    list-style-type: none;

    @include breakpoint($sm) {
      padding: 30px 0;
    }
  }

  // li {
  //   list-style-type: none;
  // }

  &__link {
    display: block;
    position: relative;
    height: 45px;
    margin: 0;
    padding: 0;
    border-radius: $radius;
    cursor: pointer;

    &:focus {
      outline: $focusstate;
    }

    .pbs-google,
    .pbs-facebook {
      width: 31px;
      height: 26px;
      padding-left: 7px;
      margin-top: 3px;
    }

    &--google {
      margin-left: 0;
      background-color: $gmail-red;
      border-color: $gmail-red;

      path {
        fill: $gray-0;
      }

      &:hover,
      &:focus {
        background-color: mix($gray-100, $gmail-red,  20);
        border-color: mix($gray-100, $gmail-red,  20);
      }
    }

    &--facebook {
      margin: 10px 0;
      background-color: $facebook-blue;
      border-color: $facebook-blue;

      path {
        fill: $gray-0;
      }

      &:hover,
      &:focus {
        background-color: mix($gray-100, $facebook-blue,  20);
        border-color: mix($gray-100, $facebook-blue,  20);
      }
    }

    &--pbs {
      background-color: $blue-brand;
      border-color: $blue-brand;

      .pbs-logo {
        padding-left: 4px;
        margin-top: -2px;
        width: 36px;
        height: 36px;
      }

      &:hover,
      &:focus {
        background-color: mix($gray-100, $blue-brand,  20);
        border-color: mix($gray-100, $blue-brand,  20);
      }
    }
  }

  &__icon {
    display: block;
    width: 34px;
    height: 34px;
    margin: 6px;
    float: left;
    background-repeat: no-repeat;
    background-size: 34px 163px;
    text-align: center;

    [class*="icon-pbs"] {
      margin-top: 2px;
      margin-left: 6px;
      color: $gray-0;
      font-size: 3rem;
      line-height: 1;
    }

    .icon-pbs-facebook {
      margin-top: 0;
      margin-left: 0;
    }
  }

  &__text {
    display: block;
    margin-top: $gap-quarter;
    margin-left: 5px;
    padding-left: 20px;
    float: left;
    border-left: 1px solid rgba($gray-0, .2);
    color: $gray-0;
    line-height: 36px;
  }

  &__separator {
    position: relative;
    height: 45px;
    padding-top: 10px;
    text-align: center;
    z-index: 1;

    &::before {
      position: absolute;
      top: 50%;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0 auto;
      border-top: $divider;
      content: '';
      z-index: -1;
    }

    &__text {
      padding: 5px 20px;
      border: 0;
      background-color: $gray-0;
      z-index: 1;
    }
  }

  &__message {
    display: block;
    font-size: $elmo;
    font-weight: $normal;
    line-height: 1.25;

    &--register {
      margin-bottom: 20px;

      a {
        font-weight: $semibold;
      }
    }

    &--question {
      padding: 0;
      margin-bottom: 7px;
      border: 0;
      background: transparent;
      color: $blue-digital;
      font-weight: $semibold;

      &:hover {
        text-decoration: underline;
      }
    }

    &--footer {
      padding-top: 10px;
      border-top: $divider;
      color: $gray-56;
      font-size: $abby;
    }
  }
}

// Modal-specific styles
.modal-login {
  &__dialog {
    @include breakpoint($md) {
      max-width: 480px;
    }
  }

  &__station {
    width: 100%;
    max-width: 288px;
    margin: 0 auto;
    text-align: center;

    &-logo {
      width: auto;
      margin-bottom: $gap-half;
    }
  }

  &__social-login-panel {
    max-width: 288px;
    margin: 0 auto;
  }
}
