// Universal styles for both passport login and modal window
.sign-in {
  &__service-list {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    font-size: $ernie;
    list-style-type: none;

    @include breakpoint($sm) {
      padding: 30px 0;
    }
  }

  &__link {
    position: relative;
    height: 45px;
    margin: 0;
    float: none;
    border-radius: $radius;
    cursor: pointer;

    a {
      display: block;
      height: 45px;

      &:focus {
        outline: $focusstate;
      }
    }

    &--google {
      margin-left: 0;
      background-color: $gmail-red;
    }

    &--facebook {
      margin: 10px 0;
      background-color: $facebook-blue;
    }

    &--pbs {
      margin-top: 45px;
      background-color: $blue-brand-darken-10;
    }
  }

  &__icon {
    display: block;
    width: 34px;
    height: 34px;
    margin: 6px;
    float: left;
    background-repeat: no-repeat;
    background-size: 34px 163px;
    text-align: center;

    [class*="icon-pbs"] {
      margin-top: 2px;
      margin-left: 6px;
      color: $white;
      font-size: 3rem;
      line-height: 1;
    }

    .icon-pbs-facebook {
      margin-top: 0;
      margin-left: 0;
    }
  }

  &__text {
    display: block;
    margin-top: $gap-quarter;
    margin-left: 5px;
    padding-left: 20px;
    float: left;
    border-left: 1px solid rgba($white, .2);
    color: $white;
    line-height: 36px;
  }

  &__separator {
    position: relative;
    height: 45px;
    padding-top: 10px;
    text-align: center;
    z-index: 1;

    &::before {
      position: absolute;
      top: 50%;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0 auto;
      border-top: $divider;
      content: '';
      z-index: -1;
    }

    &__text {
      padding: 5px 20px;
      border: 0;
      background-color: $white;
      z-index: 1;
    }
  }

  &__message {
    display: block;
    font-size: $elmo;
    font-weight: $normal;
    line-height: 1.25;

    &--register {
      margin-bottom: 20px;

      a {
        font-weight: $semibold;
      }
    }

    &--question {
      padding: 0;
      margin-bottom: 7px;
      border: 0;
      background: transparent;
      color: $blue;
      font-weight: $semibold;

      &:hover {
        text-decoration: underline;
      }
    }

    &--footer {
      padding-top: 10px;
      border-top: $divider;
      color: $gray-dark;
      font-size: $abby;
    }
  }
}

// Modal-specific styles
.modal-login {
  &__dialog {
    @include breakpoint($md) {
      max-width: 480px;
    }
  }

  &__station {
    width: 100%;
    max-width: 288px;
    margin: 0 auto;
    text-align: center;

    &-logo {
      width: auto;
      margin-bottom: $gap-half;
    }
  }

  &__social-login-panel {
    max-width: 288px;
    margin: 0 auto;
  }
}

// Passport-specific styles for login page
.passport__sign-in,
.passport__sign-in__confirm {
  width: 100%;
  padding: 30px 0;
  text-align: left;

  @include breakpoint($sm) {
    width: 51.5%;
    padding: 0 $gap 50px 30px;
    float: right;
  }

  @include breakpoint($md) {
    padding-left: 50px;
  }

  &__panel {
    max-width: 288px;
  }

  .sign-in__message {
    &--register {
      font-size: $snuffy;
    }

    &--question {
      font-size: $zoe;
    }

    &--footer {
      font-size: $elmo;
      line-height: 1.9rem;
    }
  }
}
