.carousel--videos {
  background: $white;

  // hide additional slides before JS is initialized;
  .carousel-slide + .carousel-slide {
    display: none;
  }

  // once Slick is init, re-show the slides;
  .slick-initialized .carousel-slide + .carousel-slide {
    display: block;
  }

  // because of the custom layout, we need a custom row;
  .slide-row {
    @extend %clearfix;

    @include breakpoint($md) {
      position: relative;
      height: 0;
      padding-bottom: 37.5%;
      overflow: hidden; // need to have this because the 2/3 1/3 percentages dont always line up perfectly, so we have to cut off some of the photo;
    }
  }

  // and custom columns;
  // this column (66.6%) contains the large featured article;
  .slide-col-featured {
    @include breakpoint($md) {
      float: left;
      width: 66.66%;
    }
  }

  // this column (33.3%) contains the two related articles;
  .slide-col-related {
    // this column isn't visible until the medium breakpoint;
    display: none;

    @include breakpoint($md) {
      display: block;
      float: left;
      width: 33.34%;
    }
  }

  &__slide {
    color: $white;
    position: relative;
    text-shadow: 0 1px 2px rgba($black, 0.66);
  }

  // positioned content on top of the image;
  &__slide__body {
    position: absolute;
    bottom: $bs-gutter;
    left: $bs-gutter;
    right: $bs-gutter;

    @include breakpoint($sm) {
      bottom: ($bs-gutter * 2);
      left: ($bs-gutter * 2);
    }
  }

  // show title;
  .over-title {
    color: $white;
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;

    a {
      color: $white;
    }

    @include breakpoint($sm) {
      font-size: 1.4rem;
    }
  }

  // episode title;
  &__slide__title {
    font-weight: $light;
    font-size: 2rem;
    line-height: 1.4;
    margin: 0;

    @include breakpoint($md) {
      font-size: 3.2rem;
    }

    @include breakpoint($lg) {
      font-size: 3.6rem;
    }

    a {
      color: $white;
    }
  }

  picture {
    overflow: hidden; // without this, the :after element oddly wraps from left to right;
    position: relative;

    // add a background gradient (between image and text) so the text is easier to read;
    &:after {
      content: "";
      display: block;
      bottom: 0;
      left: 0;
      position: absolute;
      width: 500px;
      height: 400px;
      margin: 0 0 -200px -250px;
      background: radial-gradient(ellipse at center,  rgba($black, 0.75) 0%, rgba($white, 0) 70%);

      @include breakpoint($sm) {
        width: 800px;
        height: 640px;
        margin: 0 0 -320px -400px;
      }

      @include breakpoint($lg) {
        width: 1000px;
        height: 800px;
        margin: 0 0 -400px -500px;
      }
    }
  }

  // adjust article styles for the related content;
  .slide-col-related {

    .carousel--videos__slide__body {
      bottom: $bs-gutter;
      left: $bs-gutter
    }

    .over-title {
      font-size: 1.2rem;
    }

    .carousel--videos__slide__title {
      @include typography-truncate();
      font-size: 1.8rem;
    }

    picture {
      &:after {
        content: "";
        display: block;
        bottom: 0;
        left: 0;
        position: absolute;
        width: 500px;
        height: 400px;
        margin: 0 0 -200px -250px;
        background: radial-gradient(ellipse at center,  rgba($black, 0.75) 0%, rgba($white, 0) 70%);
      }
    }
  }

}
