.carousel--videos {
  background: $white;

  // hide additional slides before JS is initialized;
  .carousel-slide + .carousel-slide {
    display: none;
  }

  // once Slick is init, re-show the slides;
  .slick-initialized .carousel-slide + .carousel-slide {
    display: block;
  }

  // because of the custom layout, we need a custom row;
  .slide-row {
    @include clearfix();

    @include breakpoint($md) {
      position: relative;
      height: 0;
      padding-bottom: 37.5%;
      overflow: hidden; // need to have this because the 2/3 1/3 percentages dont always line up perfectly, so we have to cut off some of the photo;
    }
  }

  // and custom columns;
  // this column (66.6%) contains the large featured article;
  .slide-col-featured {
    @include breakpoint($md) {
      width: 66.66%;
      float: left;
    }
  }

  // this column (33.3%) contains the two related articles;
  .slide-col-related {
    // this column isn't visible until the medium breakpoint;
    display: none;

    @include breakpoint($md) {
      display: block;
      width: 33.34%;
      float: left;
    }
  }

  &__slide {
    position: relative;
    color: $white;
    text-shadow: 0 1px 2px rgba($black, .66);
  }

  // positioned content on top of the image;
  &__slide__body {
    position: absolute;
    right: $gap;
    bottom: $gap;
    left: $gap;

    @include breakpoint($sm) {
      bottom: $gap-double;
      left: $gap-double;
    }
  }

  // show title;
  .over-title {
    margin: 0;
    color: $white;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;

    @include breakpoint($sm) {
      font-size: $elmo;
    }

    a {
      color: $white;
    }
  }

  // episode title;
  &__slide__title {
    margin: 0;
    font-size: $snuffy;
    font-weight: $light;
    line-height: 1.4;


    @include breakpoint($md) {
      font-size: 3.2rem;
    }

    @include breakpoint($lg) {
      font-size: 3.6rem;
    }

    a {
      color: $white;
    }
  }

  picture {
    @include overlay-shadow();
    position: relative;
  }

  // adjust article styles for the related content;
  .slide-col-related {

    .carousel--videos__slide__body {
      bottom: $gap;
      left: $gap;
    }

    .over-title {
      font-size: $abby;
    }

    .carousel--videos__slide__title {
      @include typography-truncate();
      font-size: $oscar;
    }

    picture {
      &::after {
        width: 500px; // fixing the size of these gradients
        height: 400px;
      }
    }
  }

}
