section.store-related {
  background: $white;
  padding: ($bs-gutter * 2) $bs-gutter;

  @include breakpoint($md) {
    background: none;
    padding: 0;
  }

  p.view-all {
    font-size: 1.6rem;
  }

  // image, not text;
  h1.section-title {
    font-size: 1rem;
    margin: 0;
    padding: 0 0 $bs-gutter;
    text-align: center;

    @include breakpoint($md) {
      padding: 0;
      text-align: left;
    }
  }

  // container for all the article tags (so the header above can go edge-to-edge);
  div.articles {
    background: $white;
    padding: 0 $bs-gutter;
  }

  article {
    padding: $bs-gutter;

    div.article-body {
      margin: 0 0 0 (-$bs-gutter);
    }

    h1 {
      font-size: 1.8rem;
      margin: ($bs-gutter / 2) 0 0;
    }

    + article {
      border-top: 1px solid $gray-light;

      @include breakpoint($sm-only) {
        border-top: 0;
      }
    }
  }

  // centered button at the bottom of the component;
  p.explore-more {
    margin: $bs-gutter 0 0;
    text-align: center;
  }
}
