.page-footer {
  @include mobile-menu();

  background: $gray-light;
  font-weight: $light;
  font-size: $ernie;
  padding: 0 $gap;
  overflow: hidden;

  // when we make the jump from single column to three column, add some space around the three columns;
  @include breakpoint($sm) {
    padding: $gap-quad $gap-quad 0 $gap-quad;
  }
  @include breakpoint($md) {
    padding: $gap-quad ($gap * 5) 0 ($gap * 5);
  }
  @include breakpoint($lg) {
    padding: $gap-quad ($gap * 8) 0 ($gap * 8);
  }

  .row-with-dividers {
    @include breakpoint($sm) {
      // add some spacing between the links and legalese;
      padding-bottom: $gap-quad;
    }
  }

  // columns of content in the footer (explore, connect, learn);
  section {
    padding-bottom: $gap-double;
    padding-top: $gap-double;

    @include breakpoint($below-sm) {
      border-bottom: 1px solid $gray-lighter;
      &:last-child {
        border-bottom: 0;
      }
    }

    @include breakpoint($sm) {
      padding: 0 $gap-double;
      border-bottom: 0;
      border-right: 1px solid $gray-medium;
      &:last-child {
        border-right: 0;
      }
    }

    @include breakpoint($lg) {
      padding: 0 $gap-triple;
    }

  }

  // titles for each column of links;
  .section-title {
    margin: 0 0 10px 0;
    color: $gray-primary;
    font-weight: $semibold;
    text-transform: uppercase;
    font-size: $ernie;

    @include breakpoint($sm) {
      margin: 0 0 $gap-quarter 0;
      padding: 0;
      text-align: left;
    }

    @include breakpoint($md) {
      margin: 0 0 $gap-half 0;
    }

    @include breakpoint($lg) {
      margin: 0 0 $gap 0;
    }
  }

  // list of links within each column;
  ul {
    margin: 0;
    // making 2 columns by default, 1 above $sm
    column-count: 2;
    column-gap: $gap;
    @include breakpoint($sm) {
      column-count: 1;
    }

    li {
      break-inside: avoid; // see https://css-tricks.com/almanac/properties/b/break-inside/
    }

    // we need to target only IE with the below hack, see: http://stackoverflow.com/a/22085269/1173898
    @media all and (-ms-high-contrast:none) {
      *::-ms-backdrop,
      li {
        overflow: hidden; // fix for IE11 - see http://stackoverflow.com/questions/22547098/multi-columns-not-working-in-ie-11
      }
    }
  }

  .page-footer__explore-links {
    //this one is a special case, it needs to be 2 columns again above $md
    @include breakpoint($md) {
      column-count: 2;
    }
  }

  li {
    margin: 0;
    padding: $gap-half 0;
  }
  a {
    color: $gray-primary;
  }
  [class^=icon-] {
    vertical-align: top;
    width: 23px;
    height: 23px;
    font-size: 2.5rem;
    position: relative;
    top: -3px;
    margin-right: $gap-quarter;
  }

  // legalese container at the bottom of the footer;
  .legal {
    background: $gray-lighter;
    margin: 0 (-$gap) (-$gap) (-$gap);
    padding: $gap $gap $gap-double $gap;

    // break outside of the container padding;
    @include breakpoint($sm) {
      margin: 0 (-$gap-quad);
    }
    @include breakpoint($md) {
      margin: 0 (-$gap * 6);
    }
    @include breakpoint($lg) {
      margin: 0 (-$gap * 8);
    }

    // copyright info;
    small {
      color: $gray-primary;
      display: block;
      font-size: $abby;
      margin-top: $gap;

      @include breakpoint($sm) {
        margin: 0;
        padding-left: $gap;
        max-width: 66%; // to prevent overlap with the npr stuff
      }
    }

    // npr;
    .partner {
      color: $gray-primary;
      font-size: $abby;
      margin: 0;

      @include breakpoint($sm) {
        float: right;
        margin-top: $gap-quarter;
        padding: 0 $gap 0 0;
      }

      img {
        position: relative;
        top: -1px;
      }
    }
  }

}
