.content {
  padding: $gap;

  @include breakpoint($md) {
    padding: $gap-double;
  }

  h1 {
    margin-bottom: $gap-double;
    font-size: $snuffy;
    font-weight: $semibold;
    text-transform: uppercase;
  }

  h2 {
    margin-top: $gap-double;
    font-size: $ernie;
    font-weight: $bold;
    text-transform: uppercase;

    @include breakpoint($md) {
      margin-left: $gap-double;
      margin-right: $gap-double;
    }
  }

  p,
  li {
    font-size: $elmo;
    line-height: 1.6;

    @include breakpoint($md) {
      margin-left: $gap-double;
      margin-right: $gap-double;
    }
  }

  ol,
  ul {
    @include breakpoint($md) {
      margin-left: $gap-double;
      margin-right: $gap-double;
    }
  }
}
