.pagination {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 auto $gap-double auto;
  padding: $gap 0;
  font-size: $snuffy;
  text-align: center;

  // styles to apply to all children
  &__univ-feature > *,
  &__min-feature > *,
  &__full-feature > * {
    position: relative;
    padding: $gap-quarter 10px;

    @include breakpoint($sm) {
      padding: $gap-quarter $gap;
    }
  }

  // pagination features for both small and large screens
  &__univ-feature {
    display: inline-block;
    position: relative;
  }

  // minimal pagination features for small screens
  &__min-feature {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    align-items: baseline;

    @include breakpoint($sm) {
      display: none;
    }
  }

  // full pagination features for large screens
  &__full-feature {
    display: none;
    position: relative;

    @include breakpoint($sm) {
      display: flex;
      flex-wrap: nowrap;
      align-items: baseline;
    }
  }

  // all pagination links (even prev / next);
  a {
    display: inline-block;
    position: relative;
    font-size: $snuffy;
    cursor: pointer;

    // remove underline after tap on touch devices
    &:hover {
      .touchevents & {
        text-decoration: none;
      }
    }
  }

  &__ellipsis {
    padding: 0;
  }

  // add divider between pages where necessary
  &__has-divider::before {
    display: block;
    position: absolute;
    top: $gap-quarter;
    bottom: $gap-quarter;
    left: 0;
    width: 1px;
    background: $gray-primary;
    content: '';
  }
}
