// featured search results;
.search-results-featured-posters {
  background: $white;
  color: $gray-primary;
  padding: $bs-gutter;

  h1 {
    color: $gray-primary;
    font-weight: $bold;
    font-size: 2rem;
    margin: ($bs-gutter / 2) 0;
    text-transform: uppercase;
  }

  // only show the third related article above mobile;
  div.col-xs-4 {
    &:last-child {
      display: none;

      @include breakpoint($sm) {
        display: block;
      }
    }
  }

  &__picture {
    @include aspect-ratio(9, 13.45);
  }
}


