// one featured search result article;
// multiple featured articles is another component;
.search-results-featured-article {
  background: $white;
  color: $gray-primary;
  padding: $bs-gutter;
  margin-bottom: 3px;

  .featured-article-poster {
    margin-right: (-$bs-gutter);
  }

  // break the grid;
  div.article-body {
    @include breakpoint($lg) {
      margin: 0 0 0 (-$bs-gutter);
    }
  }

  h1 {
    font-weight: $semibold;
    font-size: 3.2rem;
    margin: 0;

    a {
      color: $gray-primary;
    }
  }

  p {
    margin: 0;

    &.sub-title {
      font-size: 1.8rem;
      font-weight: $light;
      font-style: italic;

      @include breakpoint($sm) {
        font-size: 2rem;
      }
    }

    &.description {
      font-size: 1.4rem;
      font-weight: $normal;
      margin: ($bs-gutter / 2) 0 0;

      @include breakpoint($sm) {
        font-size: 1.5rem;
      }
      @include breakpoint($lg) {
        font-size: 1.6rem;
      }
    }

    &.view-all {
      float: none;
      font-family: $serif;
      font-weight: $bold;
      font-size: 1.4rem;
      margin: ($bs-gutter / 2) 0 0;

      @include breakpoint($sm) {
        font-size: 1.6rem;
      }
    }
  }

  // related featured content;
  section {
    margin: ($bs-gutter * 2) 0 0;

    h1.section-title {
      margin: 0 0 ($bs-gutter / 2);
      padding-bottom: 5px;
      border-bottom: 1px solid $gray-light;
      font-size: 1.2rem;
      color: $gray-dark;
      font-weight: $bold;
      text-transform: uppercase;

      @include breakpoint($sm) {
        font-size: 1.4rem;
      }
    }

    article {

      margin-bottom: 0;

      h1 {
        font-weight: $normal;
        font-size: 1.4rem;
        margin: 7px 0 0;

        @include breakpoint($sm) {
          font-size: 1.6rem;
        }

        a {
          line-height: 1.4;
        }
      }

      p.duration {
        font-weight: $light;
        font-size: 1.4rem;
        margin: ($bs-gutter / 4) 0 0;

        @include breakpoint($sm) {
          font-size: 1.6rem;
          font-weight: $normal;
        }

        .passport-logo-wrapper {
          display: inline-block;
          width: 15px;
          height: 15px;
          margin-right: 6px;

          @include breakpoint($sm) {
            width: 16px;
            height: 16px;
          }

          .passport-logo {
            width: 100%;
            box-shadow: none;
            margin-top: -4px;
          }
        }
      }
    }

    // only show the third related article on desktop;
    div.col-sm-4 {
      &:last-child {
        display: none;

        @include breakpoint($sm) {
          display: block;
        }
      }
    }
  }

  .featured-title {
    display: block;
  }

  .description-container {
    @include breakpoint($sm) {
      display: block;
      width: 100%;
    }
  }

  .video-summary {
    margin-right: 0;
    margin-left: 0;
  }

  &__thumb-link {
    @include aspect-ratio(16, 9);
    display: block;
    box-shadow: $shadow;
  }

  &__poster-link {
    @include aspect-ratio(9, 13.45);
    display: block;
    max-width: 230px;
    box-shadow: $shadow;
  }

}
