.search-header {
  background-color: $gray-light;
  font-size: $oscar;
  min-height: 85px;
  padding-top: $gap;
  position: relative;
  @include breakpoint($sm) {
    min-height: 78px;
    padding-top: 0;
  }
}

.search-input-container {
  padding-left: $gap;
  padding-right: $gap;
  @include breakpoint($sm) {
    position: absolute;
    padding: 0;
    left: $gap-double;
    top: $gap;
  }
}

.search-header__form-title {
  display: none;
  @include breakpoint($md) {
    display: inline-block;
    font-size: $oscar;
    margin-right: 0.5em;
  }
}

.search-header__form {
  position: relative;
  width: 100%;
  @include breakpoint($sm) {
    width: 300px;
  }
  @include breakpoint($md) {
    display: inline-block;
    width: 400px;
  }
}

.search-header__input {
  border: 1px solid $gray-medium;
  padding-right: 50px;
  width: 100%;
}

.search-header__input-button {
  bottom: $gap-quarter;
  padding-top: 12px;
  position: absolute;
  right: $gap-quarter;
  top: $gap-quarter;
}

@import './filters';
