// Custom breakpoint to accommodate iPad landscape layout
// Extends $md breakpoint by one pixel
$md-alt: $md + 1px;

.search-results-section {
  display: none;
  flex-direction: column;
  width: 100%;

  @include breakpoint($sm) {
    padding: $gap-double;
  }

  @include breakpoint($md-alt) {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.search-app--is-loaded {
  .search-results-section {
    display: flex;
  }
}


.search-results__main {
  flex-grow: 2;
  width: 100%;

  @include breakpoint($md-alt) {
    min-width: 0;
    padding-right: $gap-double;
  }
}

.search-results__rail--right {

  @include breakpoint($md-alt) {
    flex: none;
  }

  .ad {

    display: none;

    @include breakpoint($md-alt) {
      display: block;
    }

    &__wrapper {
    padding-top: 24px;
    }
  }

}

.no-search-results {
  margin: 0 auto;
  padding: 60px 20px 80px 20px;
  text-align: center;
  width: 100%;
  max-width: 500px;

  &__icon {
    color: $gray-medium;
    font-size: 3.6rem;
  }

  &__header {
    font-size: 2.2rem;
    margin: 0;
    padding-bottom: 10px;
  }

  &__description {
    font-size: $zoe;
  }
}
