@import './header';
@import './layout';
@import './shop';
@import './result-header';
@import './result-items';
@import './featured-results';
@import './sort';
@import './pagination';

.search-app {
  position: relative;

  &::before {
    background-color: $gray-light;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  &--is-loaded {
    &::before {
      display: none;
    }
  }

  &--is-fetching {
    &::before {
      display: block;
    }
  }
}
