// Colors

// Neutrals
$white: #ffffff;
$black: #000000; //used seldomly

$gray-primary: #222222;
$gray-darker: #4b4b4b;
$gray-dark: #707070;
$gray-medium: #b3b3b3;
$gray-light: #e0e0e0;
$gray-lighter: #f3f3f3;

$gray-100: #000000;
$gray-87: #222222;
$gray-71: #4b4b4b;
$gray-56: #707070;
$gray-30: #b3b3b3;
$gray-12: #e0e0e0;
$gray-5: #f3f3f3;
$gray-3: #f8f8f8;
$gray-0: #ffffff;

// Hues
$blue: #126eb5;
$blue-digital: #126eb5;
$blue-muted: #8fa6bc;
$blue-antique: #8fa6bc;
$blue-light: #00aaeb;
$blue-brand: #00aaeb;

$red: #ac031f;
$yellow: #e9ba15;
$green: #70B406;

$magenta: #ce255d;
$orange: #EE7101;

//3rd party brand colors
$facebook-blue: #3b5999;
$gmail-red: #db4437;
$yahoo-purple: #400191;
$twitter-blue: #55acee;
$tumbler-blue: #12609C;
$pinterest-red: #B8242A;
$instagram-blue: #4890C7;
$youtube-red: #cd201f;

// Functional Color Variables
$divider-color: $gray-light;
$brand-primary: $gray-primary;
$brand-success: $green;
$brand-info: $blue-light;
$brand-warning: $yellow;
$brand-danger: $red;
$body-bg: $white;
$text-color: $gray-primary;
$link-color: $blue;

// See _bootstrap-variables.scss for the rest of the functional variables that bootstrap expects
