// Neutrals
$gray-primary: #222222;
$gray-darker: #4b4b4b;
$gray-dark: #707070;
$gray-medium: #b3b3b3;
$gray-light: #e0e0e0;
$gray-lighter: #f3f3f3;

$gray-100: #000000;
$gray-87: #222222;
$gray-71: #4b4b4b;
$gray-56: #707070;
$gray-30: #b3b3b3;
$gray-12: #e0e0e0;
$gray-5: #f3f3f3;
$gray-3: #f8f8f8;
$gray-0: #ffffff;

$white: $gray-0;
$black: $gray-100;

// Hues


$blue-digital: #126eb5;
$blue: $blue-digital;
$blue-digital-darken-10: mix($gray-100, $blue-digital, 10);
$blue-digital-darken-20: mix($gray-100, $blue-digital, 20);
$blue-digital-lighten-10: mix($gray-0, $blue-digital, 10);
$blue-digital-lighten-20: mix($gray-0, $blue-digital, 20);

$blue-antique: #8fa6bc;
$blue-muted: $blue-antique;
$blue-antique-darken-10: mix($gray-100, $blue-antique, 10);
$blue-antique-darken-20: mix($gray-100, $blue-antique, 20);
$blue-antique-lighten-10: mix($gray-0, $blue-antique, 10);
$blue-antique-lighten-20: mix($gray-0, $blue-antique, 20);

$blue-brand: #00aaeb;
$blue-light: $blue-brand;
$blue-brand-darken-10: mix($gray-100, $blue-brand, 10);
$blue-brand-darken-20: mix($gray-100, $blue-brand, 20);
$blue-brand-lighten-10: mix($gray-0, $blue-brand, 10);
$blue-brand-lighten-20: mix($gray-0, $blue-brand, 20);

$red: #ac031f;
$red-darken-10: mix($gray-100, $red, 10);
$red-darken-20: mix($gray-100, $red, 20);
$red-lighten-10: mix($gray-0, $red, 10);
$red-lighten-20: mix($gray-0, $red, 20);

$yellow: #e9ba15;
$yellow-darken-10: mix($gray-100, $yellow, 10);
$yellow-darken-20: mix($gray-100, $yellow, 20);
$yellow-lighten-10: mix($gray-0, $yellow, 10);
$yellow-lighten-20: mix($gray-0, $yellow, 20);

$green: #65a205;
$green-darken-10: mix($gray-100, $green, 10);
$green-darken-20: mix($gray-100, $green, 20);
$green-lighten-10: mix($gray-0, $green, 10);
$green-lighten-20: mix($gray-0, $green, 20);

$magenta: #ce255d;
$magenta-darken-10: mix($gray-100, $magenta, 10);
$magenta-darken-20: mix($gray-100, $magenta, 20);
$magenta-lighten-10: mix($gray-0, $magenta, 10);
$magenta-lighten-20: mix($gray-0, $magenta, 20);

$orange: #EE7101;
$orange-darken-10: mix($gray-100, $orange, 10);
$orange-darken-20: mix($gray-100, $orange, 20);
$orange-lighten-10: mix($gray-0, $orange, 10);
$orange-lighten-20: mix($gray-0, $orange, 20);

//3rd party brand colors
$facebook-blue: #3b5999;
$gmail-red: #db4437;
$yahoo-purple: #400191;
$twitter-blue: #55acee;
$tumbler-blue: #12609C;
$pinterest-red: #B8242A;
$instagram-blue: #4890C7;
$youtube-red: #cd201f;

// Functional Color Variables
$divider-color: $gray-light;
$brand-primary: $gray-primary;
$brand-success: $green;
$brand-info: $blue-light;
$brand-warning: $yellow;
$brand-danger: $red;
$body-bg: $white;
$text-color: $gray-primary;
$link-color: $blue;

// See _bootstrap-variables.scss for the rest of the functional variables that bootstrap expects
