---
layout: default
---
<div class="post">

 <article class="post-content">

  {% if page.product %}

    {% include product-nav.html %}

  {% endif %}

  <ul class="post-list">

  {% assign components = site.components | sort: 'code' %}

  {% for component in components %}

    {% assign print = false %}
    {% if page.product %}
      {% if component.products contains page.product and component.categories contains page.category %}
        {% assign print = true %}
      {% endif %}
    {% elsif component.categories contains page.category %}
      {% assign print = true %}
    {% endif %}

    {% if print %}
      {% include post-li.html %}
    {% endif %}

  {% endfor %}
  </ul>
  </article>
</div>
