---
layout: default
---
<div class="post">

  <h1>{{ page.title }}</h1>

  {% if page.product %}

    {% include product-nav.html %}

  {% endif %}

  <ul>

  {% assign components = site.components | sort: 'code' %}

  {% for component in components %}

    {% assign print = false %}
    {% if page.product %}
      {% if component.products contains page.product and component.category == page.category %}
        {% assign print = true %}
      {% endif %}
    {% elsif component.category == page.category %}
      {% assign print = true %}
    {% endif %}

    {% if print %}
      <li>
        <a href="{{ component.url }}">
          {{ component.code }}: {{ component.title }}
          {% if page.product == null %}
            | {{ component.products }}
          {% endif %}
        </a>
      </li>
    {% endif %}

  {% endfor %}
  </ul>

</div>
