.verticals {
  padding: 0 $gap-double $gap-double 0;
  -webkit-font-smoothing: antialiased;

  article {
    border: $divider;
    margin: 0 0 $gap 0;
    padding: $gap;
  }

  .slick-track {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  p:not(.view-more) {
    font-size: $ernie;
    margin: 0;

    &.view-all {
      text-align: right;
      font-size: $elmo;
    }
  }

  &__cta {
    margin: $gap-half 0 0 0;
    font-family: $serif;
    font-size: $ernie;
    font-weight: $bold;
  }

  // break into the gutter with the body content;
  div.article-body {
    margin: 0 0 0 (-$gap);
  }

  .img-responsive {
    width: auto;
  }

  .col-sm-4 {
    text-align: center;

    .img-responsive {
      display: inline;
    }
  }
}
