// more popover styling can be found at jquery.qtip.scss

// this HTML is in the page, but not shown;
.video-popover {
  color: $gray-primary;
  display: none;

  .over-title {
    font-size: $elmo;
    margin: 0;
    text-transform: uppercase;
  }

  &__title {
    @include typography-l1-header();
    font-size: $snuffy;
    margin: 0;
  }

  .description {
    font-size: $ernie;
    margin: $gap 0 0 0;
  }

  &__duration {
    padding-top: $gap;
    font-size: $elmo;
    font-weight: $normal;
  }

  .watchlist {
    font-size: $elmo;
    margin: $gap 0 0 0;
    .btn {
      padding: $gap $gap-double;
    }
  }

  .share {
    border-top: 1px solid $gray-medium;
    font-size: $elmo;
    margin-top: $gap;
    padding-top: $gap;

    a {
      font-size: $snuffy;
      line-height: 1;
      margin-left: 0.5rem;
      vertical-align: middle;
    }
  }
}
