// more content (grid and list - depends on the breakpoint);
.legos {
  padding: $bs-gutter;

  @include breakpoint($sm) {
    padding: ($bs-gutter * 2) ($bs-gutter * 2) ($bs-gutter * 4);
  }

  @include breakpoint($md) {
    padding: ($bs-gutter * 2) ($bs-gutter * 4) ($bs-gutter * 4);
  }

  @include breakpoint($lg) {
    padding: ($bs-gutter * 2) ($bs-gutter * 6) ($bs-gutter * 4);
  }

  &__section-title {
    margin: ($bs-gutter * 2) 0 ($bs-gutter / 2);
    color: $gray-primary;
    font-size: 1.6rem;
    font-weight: $semibold;
    text-transform: uppercase;

    @include breakpoint($sm) {
      font-size: 2rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include breakpoint($sm) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .lego {
      width: 100%;
      margin: 8px 0;
      padding: $bs-gutter;
      border: 1px solid $gray-medium;
      background-color: $white;
      overflow: hidden;

      @include breakpoint($sm) {
        display: flex;
        width: 49%;
      }

      .row {
        overflow: hidden;
      }

      &__article-body {
        margin: 0 0 0 (-$bs-gutter);
        padding: 0;

        &:after {
          display: none;
        }

        &__title {
          @include typography-truncate();
          margin: 0;
          font-size: 1.6rem;

          @include breakpoint($sm) {
            font-size: 1.8rem;
          }
        }

        &__description {
          margin: ($bs-gutter / 2) 0 0;
          font-size: 1.4rem;
        }
      }
    }
  }
}
