// more content (grid and list - depends on the breakpoint);
.legos {
  padding: $gap;

  @include breakpoint($sm) {
    padding: $gap-double $gap-double $gap-quad $gap-double;
  }

  @include breakpoint($md) {
    padding: $gap-double $gap-quad $gap-quad $gap-quad;
  }

  @include breakpoint($lg) {
    padding: $gap-double ($gap * 6) $gap-quad ($gap * 6);
  }

  &__section-title {
    margin: $gap-double 0 $gap-half 0;
    color: $gray-primary;
    font-size: $ernie;
    font-weight: $semibold;
    text-transform: uppercase;

    @include breakpoint($sm) {
      font-size: $snuffy;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include breakpoint($sm) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .lego {
      width: 100%;
      margin: $gap-half 0;
      padding: $gap;
      border: 1px solid $gray-medium;
      background-color: $white;
      overflow: hidden;

      @include breakpoint($sm) {
        display: flex;
        width: 49%;
      }

      .row {
        overflow: hidden;
      }

      &__article-body {
        margin-left: (-$gap);
        padding: 0;

        &:after {
          display: none;
        }

        &__title {
          @include typography-truncate();
          margin: 0;
          font-size: $ernie;

          @include breakpoint($sm) {
            font-size: $oscar;
          }
        }

        &__description {
          margin: $gap-half 0 0 0;
          font-size: $elmo;
        }
      }
    }
  }
}
